.contentassist .proposal-default {
	color: #777;
}

.contentassist .proposal-name {
	color: #000;
	padding-right: 12px;
}

.xtext-hover {
	font-family: sans-serif;
}

.xtext-hover .element-name {
	padding-left: 16px;
	font-weight: bold;
}

.textviewTooltip {
	color: #444;
	background-color: #ecebec;
	border: 1px solid #aaa;
}
