.contentassist .proposal-default {
	color: #777;
}

.contentassist .proposal-name {
	color: #000;
	padding-right: 12px;
}

.default-icon {
	background-image: url('images/default-icon.gif');
	background-repeat: no-repeat;
}

.error-icon {
	background-image: url('images/error_co.gif');
	background-repeat: no-repeat;
}

.warning-icon {
	background-image: url('images/warning_co.gif');
	background-repeat: no-repeat;
}

.hover {
	font-family: sans-serif;
}

.hover .element-name {
	padding-left: 16px;
	font-weight: bold;
}

.textviewTooltip {
	color: #444;
	background-color: #ecebec;
	border: 1px solid #aaa;
}
