<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="tests-kiel1-galileo" sequenceNumber="1">
<locations>
<location path="${eclipse.tp}" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<repository location="${xtext.p2.repository}"/>
</location>
</locations>
</target>
