<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.xtext.Examples" 
				  name="Xtext Examples" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>

	<!-- ========= org.eclipse.xtext.example.domainmodel ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewDomainModelExampleWizard" 
			name="Xtext Domain-Model Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>An example Entity-language with support for full qualified names and an index.
			</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.xtext.examples.NewDomainModelExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.domainmodel" contentURI="contents/org.eclipse.xtext.example.domainmodel/" description="Parser, Serializer, Linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.domainmodel.ui" contentURI="contents/org.eclipse.xtext.example.domainmodel.ui/" description="A smart editor for the language."/>
		 <projectDescriptor name="org.eclipse.xtext.example.domainmodel.ui.tests" contentURI="contents/org.eclipse.xtext.example.domainmodel.ui.tests/" description="JUnit test cases"/>
	  </example>
	</extension>   
   
	<!-- ========= org.eclipse.xtext.example.ecoredsl ========= -->
	<!-- TODO: activate me!
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewEcoreDSLExampleWizard" 
			name="Xtext Ecore DSL Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>An Ecore DSL Example.
			</description>
		</wizard>
	</extension>
    <extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.eclipse.xtext.examples.NewEcoreDSLExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.ecoredsl" contentURI="contents/org.eclipse.xtext.example.ecoredsl/" description="Parser, Serializer, Linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.ecoredsl.ui" contentURI="contents/org.eclipse.xtext.example.ecoredsl.ui/"  description="A smart editor for the language."/>
	  </example>
    </extension>
    -->
   
	<!-- ========= org.eclipse.xtext.example.fowlerdsl ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewFowlerDSLExampleWizard" 
			name="Xtext State-Machine Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>An implementation of Martin Fowler's secret compartment state machine (http://martinfowler.com/dslwip/Intro.html).</description>
		</wizard>
	</extension>
   <extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.eclipse.xtext.examples.NewFowlerDSLExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.fowlerdsl" contentURI="contents/org.eclipse.xtext.example.fowlerdsl/" description="Contains the parser, serializer, linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.fowlerdsl.ui" contentURI="contents/org.eclipse.xtext.example.fowlerdsl.ui/"  description="Contains Eclipse IDE integration (i.e. editor)"/>
	  </example>
   </extension>
   
	<!-- ========= org.eclipse.xtext.example.arithmetics ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewArithmeticsExampleWizard" 
			name="Xtext Simple Arithmetics Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>A simple language for arithmetic calculations.</description>
		</wizard>
	</extension>
   <extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.eclipse.xtext.examples.NewArithmeticsExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.arithmetics" contentURI="contents/org.eclipse.xtext.example.arithmetics/" description="Contains the parser, serializer, linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.arithmetics.tests" contentURI="contents/org.eclipse.xtext.example.arithmetics.tests/" description="The test bundle for the language"/>
		 <projectDescriptor name="org.eclipse.xtext.example.arithmetics.ui" contentURI="contents/org.eclipse.xtext.example.arithmetics.ui/"  description="Contains Eclipse IDE integration (i.e. editor)"/>
	  </example>
   </extension>

	<!-- ========= org.eclipse.xtext.gmf.example ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewGMFIntegrationExampleWizard" 
			name="Xtext GMF Integration Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>An example how to integrate Xtext with GMF (experimental).
			</description>
		</wizard>
	</extension>
   <extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.eclipse.xtext.examples.NewGMFIntegrationExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.gmf" contentURI="contents/org.eclipse.xtext.example.gmf/" description="Xtext Parser, Serializer, Linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.gmf.ui" contentURI="contents/org.eclipse.xtext.example.gmf.ui/" description="Xtext editor, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.gmf.edit" contentURI="contents/org.eclipse.xtext.example.gmf.edit/" description="EMF edit plug-in"/>
		 <projectDescriptor name="org.eclipse.xtext.example.gmf.models" contentURI="contents/org.eclipse.xtext.example.gmf.models/" description="GMF design models"/>
		 <projectDescriptor name="org.eclipse.xtext.example.gmf.diagram" contentURI="contents/org.eclipse.xtext.example.gmf.diagram/" description="Generated GMF diagram editor"/>
		 <projectDescriptor name="org.eclipse.xtext.example.gmf.diagram.extensions" contentURI="contents/org.eclipse.xtext.example.gmf.diagram.extensions/" description="Manual extensions to the GMF diagram editor"/>
		 <projectDescriptor name="org.eclipse.xtext.gmf.glue" contentURI="contents/org.eclipse.xtext.gmf.glue/" description="Generic Xtext/GMF glue code"/>
	  </example>
   </extension>
</plugin>
