<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="api-baseline" sequenceNumber="3">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.6.0.v201405210727"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/head/R201405210727/"/>
</location>
</locations>
</target>
