bin
.DS_Store
out
target
*.java._trace
*.java_trace
*.smap
system
index
availables.xml
extensions.xml
config
.gradle
intellij-ce
build/
!**/src/**/build/
!**/xtend-gen/**/build/
lib/
!**/src/**/lib/
!**/xtend-gen/**/lib/
sandbox