#novaContent {
	background: url("backgroundCommunity.jpg") no-repeat !important;
	padding-top: 170px;
}

#midcolumn {
	width: 98%;
}

table { 
	width: 100%; 
}


th
{ 
font-weight: bold;
}

td.name
{ 
font-weight: bold;
}


td
{ border-bottom: 1px #6699CC dotted;
text-align: left;
vertical-align: top;
font-weight: normal;
color: #404040;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 0px;
padding-right: 4px; }