<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="lsMavenTychoFatjar.target" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2023-03"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.14.0/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/milestones/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.google.gson" version="2.10.1.v20230109-0753"/>
			<unit id="com.google.inject" version="5.0.1.v20221112-0806"/>
			<unit id="javax.inject" version="1.0.0.v20220405-0441"/>
			<unit id="org.antlr.runtime" version="3.2.0.v20220404-1927"/>
			<unit id="org.junit" version="4.13.2.v20211018-1956"/>
			<unit id="org.objectweb.asm" version="9.4.0.v20221107-1714"/>
			<unit id="io.github.classgraph" version="4.8.149.v20220915-0556"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2023-03"/>
		</location>
	</locations>
</target>
