[project]
	description = Xtext
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group ldap/modeling.tmf.xtext
	forgeAuthor = group ldap/modeling.tmf.xtext
	push = group ldap/modeling.tmf.xtext
	label-Code-Review = -2..+2 group ldap/modeling.tmf.xtext
	label-IP-Clean = -1..+1 group ldap/modeling.tmf.xtext
	label-Verified = -1..+1 group ldap/modeling.tmf.xtext
	submit = group ldap/modeling.tmf.xtext
	abandon = group ldap/modeling.tmf.xtext
	pushMerge = group ldap/modeling.tmf.xtext
[access "refs/tags/*"]
	pushTag = +force group ldap/modeling.tmf.xtext
	push = +force group ldap/modeling.tmf.xtext
	create = group ldap/modeling.tmf.xtext
	pushSignedTag = group ldap/modeling.tmf.xtext
[submit]
	action = rebase if necessary
