<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="xtext-latest" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://ci.eclipse.org/xtext/job/xtext-lib/job/lb_2052_maven_tycho/lastSuccessfulBuild/artifact/build/p2-repository/"/>
			<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://ci.eclipse.org/xtext/job/xtext-core/job/lb_2052_maven_tycho/lastSuccessfulBuild/artifact/build/p2-repository/"/>
			<unit id="org.eclipse.xtext" version="0.0.0"/>
			<unit id="org.eclipse.xtext.xtext.generator" version="0.0.0"/>
			<unit id="org.eclipse.xtext.testing" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://ci.eclipse.org/xtext/job/xtext-eclipse/job/lb_2052_maven_tycho/lastSuccessfulBuild/artifact/build/p2-repository/"/>
			<unit id="org.eclipse.xtext.ui" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xpand" version="0.0.0"/>
			<unit id="org.eclipse.xtend" version="0.0.0"/>
			<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201605260315/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.29"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.14.0/"/>
			<unit id="org.eclipse.emf.mwe2.launch" version="0.0.0"/>
			<unit id="org.eclipse.emf.mwe2.language.ui" version="0.0.0"/>
			<unit id="org.eclipse.emf.mwe2.lib" version="0.0.0"/>
			<unit id="org.eclipse.emf.mwe2.runtime" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-03/"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.itemis.com/updates/releases/2.1.1"/>
			<unit id="de.itemis.xtext.antlr.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2023-03"/>
			<unit id="org.apache.log4j" version="1.2.24.v20221221-2012"/>
			<unit id="org.junit" version="4.13.2.v20211018-1956"/>
			<unit id="org.objectweb.asm" version="9.4.0.v20221107-1714"/>
			<unit id="com.google.guava" version="30.1.0.v20221112-0806"/>
			<unit id="io.github.classgraph" version="4.8.149.v20220915-0556"/>
		</location>
	</locations>
</target>