<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.emf.mwe.ui.MWELaunchConfigType">
<booleanAttribute key="java_debug" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.xtext.xbase"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m&#10;-Xmx256m"/>
<stringAttribute key="startWorkflow" value="/org.eclipse.xtext.xbase/src/org/eclipse/xtext/xbase/GenerateXbase.mwe"/>
</launchConfiguration>
