<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="xtend"
              icon="icons/xtend_file.png"
              id="org.eclipse.xtext.xtend2.Xtend2"
              name="Xtend2 Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.eclipse.xtext.xtend2.Xtend2.validate">
         <activeWhen>
            <reference
                    definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.eclipse.xtext.xtend2.Xtend2" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.eclipse.xtext.xtend2.Xtend2"
            name="Xtend2">
            <keywordReference id="org.eclipse.xtext.xtend2.ui.keyword_Xtend2"/>
        </page>
        <page
            category="org.eclipse.xtext.xtend2.Xtend2"
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.eclipse.xtext.xtend2.Xtend2.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.eclipse.xtext.xtend2.ui.keyword_Xtend2"/>
        </page>
        <page
            category="org.eclipse.xtext.xtend2.Xtend2"
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.eclipse.xtext.xtend2.Xtend2.templates"
            name="Templates">
            <keywordReference id="org.eclipse.xtext.xtend2.ui.keyword_Xtend2"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.eclipse.xtext.xtend2.ui.keyword_Xtend2"
            label="Xtend2"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.eclipse.xtext.xtend2.Xtend2.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.xtext.xtend2.Xtend2.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="xtend">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="xtend">
        </resourceServiceProvider>
    </extension>


   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.eclipse.xtext.xtend2.Xtend2.compare.contentViewers"
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xtend">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.eclipse.xtext.xtend2.Xtend2.compare.contentMergeViewers"
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xtend" label="Xtend2 Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.eclipse.xtext.xtend2.Xtend2.editors.documentProviders"
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="xtend">
    </provider>
  </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>   
   
   <!-- Manual extensions -->
   
   <!-- builder -->
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.searchFilter">
      <filter
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.search.Xtend2SearchFilter">
      </filter>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
   	  <command
            description="Inserts an opening french quote"
            id="org.eclipse.xtext.xtend2.ui.insertLeftGuillemet"
            name="Insert left guillemet"/>
   	  <command
            description="Inserts an closing french quote"
            id="org.eclipse.xtext.xtend2.ui.insertRightGuillemet"
            name="Insert right guillemet"/>
   	  <command
            description="Organize Imports"
            id="org.eclipse.xtext.xbase.ui.organizeImports"
            name="Organize Imports"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+&lt;"
            commandId="org.eclipse.xtext.xtend2.ui.insertLeftGuillemet">
      </key>
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+&gt;"
            commandId="org.eclipse.xtext.xtend2.ui.insertRightGuillemet">
      </key>
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+&lt;"
            commandId="org.eclipse.xtext.xtend2.ui.insertLeftGuillemet">
      </key>
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+&gt;"
            commandId="org.eclipse.xtext.xtend2.ui.insertRightGuillemet">
      </key>
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
      </key>
<!--
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            sequence="M1+M2+T"
            commandId="org.eclipse.jdt.ui.navigate.open.type"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            contextId="org.eclipse.xtext.ui.XtextEditorScope"
            sequence="M1+M2+H"
            commandId="org.eclipse.jdt.ui.navigate.open.type.in.hierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
-->
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.xtext.xtend2.ui.edit.InsertStringHandler$LeftGuillemet"
            commandId="org.eclipse.xtext.xtend2.ui.insertLeftGuillemet">
            <activeWhen>
				<reference
					definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
				</reference>
			</activeWhen>
      </handler>
      <handler
            class="org.eclipse.xtext.xtend2.ui.edit.InsertStringHandler$RightGuillemet"
            commandId="org.eclipse.xtext.xtend2.ui.insertRightGuillemet">
           	<activeWhen>
				<reference
					definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
				</reference>
			</activeWhen>
      </handler>
      <handler
            class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.edit.OrganizeImportsHandler"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
           	<activeWhen>
				<reference
					definitionId="org.eclipse.xtext.xtend2.Xtend2.Editor.opened">
				</reference>
			</activeWhen>
      </handler>
   </extension>
    <!-- make CTRL-SHIFT-T etc. work -->
	<extension 
		point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.jdt.ui.JavaActionSet">
			<part id="org.eclipse.xtext.xtend2.Xtend2">
       		</part>
		</actionSetPartAssociation>
	</extension>
   <extension
         id="org.eclipse.xtext.xtend2.ui.wizard"
         name="newXtend2Class"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.xtext.xtend2.ui.wizards"
            name="Xtend">
      </category>
      <wizard
            category="org.eclipse.xtext.xtend2.ui.wizards"
            descriptionImage="icons/xtend_wizard_big.png"
            icon="icons/Xtend-Icon-16.png"
            id="org.eclipse.xtext.xtend2.ui.wizards.NewXtend2ClassWizard"
            name="Xtend Class">
            <class class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory">
				<parameter name="javatype" value="true" />
				<parameter name="guicekey" value="org.eclipse.xtext.xtend2.ui.wizards.NewXtend2ClassWizard" />
			</class>
      </wizard>
      <primaryWizard
            id="org.eclipse.xtext.xtend2.ui.wizards.NewXtend2ClassWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.eclipse.xtext.xtend2.ui.wizards.NewXtend2ClassWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="org.eclipse.xtext.xtend2.ui.wizards.NewXtend2ClassWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.eclipse.xtext.xtend2.ui.wizards.NewXtend2ClassWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
     <factory 
        class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.JavaElementAdapter" 
        adaptableType="org.eclipse.ui.part.FileEditorInput">
        <adapter type="org.eclipse.jdt.core.IJavaElement"/>
     </factory>
     <factory 
        class="org.eclipse.xtext.xtend2.ui.Xtend2ExecutableExtensionFactory:org.eclipse.xtext.xtend2.ui.JavaElementAdapter" 
        adaptableType="org.eclipse.core.resources.IFile">
        <adapter type="org.eclipse.jdt.core.IJavaElement"/>
     </factory>
  </extension>
</plugin>
