<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/2010/tmf/xtext/beeLangTestLanguage"
			class = "org.eclipse.xtext.testlanguages.backtracking.beeLangTestLanguage.BeeLangTestLanguagePackage"
			genModel = "model/generated/BeeLangTestLanguage.genmodel" />
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/2013/tmf/xtext/NoJdtTestLanguage"
			class = "org.eclipse.xtext.testlanguages.noJdt.noJdt.NoJdtPackage"
			genModel = "model/generated/NoJdtTestLanguage.genmodel" />
	</extension>
</plugin>
