<header class="site-header">

  <!-- Navbar -->
  <div class="container navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse"
          data-target=".nav-collapse"> <span class="icon-bar"></span> <span
          class="icon-bar"></span> <span class="icon-bar"></span>
        </a> <a class="brand" href="{{ site.baseurl }}/index.html"></a>
        <div class="nav-collapse collapse" style="height: 0px;">
          <ul class="nav">
            <li ><a href="{{ site.baseurl }}/news.html">News</a></li>
            <li ><a href="{{ site.baseurl }}/download.html">Download</a></li>
            <li ><a href="{{ site.baseurl }}/documentation/index.html">Documentation</a></li>
            <li ><a href="{{ site.baseurl }}/community.html">Community</a></li>
            <li ><a href="https://xtext.itemis.com/support/">Trainings &amp; Support</a></li>
          </ul>
          <div class="nav pull-right">
            <li ><a><iframe src="https://ghbtns.com/github-btn.html?user=eclipse&repo=xtext&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></a></li>
          </div>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!-- Navbar End -->

</header>
