---
layout: default
title: Release Notes
---
<div id="page">  
	<div class="inner">
		<div class="container">
			<br/>
				<div> 
					<h3>Table of Contents</h3>
					<ul>
						{% for post in site.categories.releasenotes limit:10 %}
							<li><p><a href="#{{ post.id }}">{{ post.title }} &mdash; {{ post.date | date: "%b %-d, %Y" }}</a></p>
						{% endfor %}
					</ul>
				</div>
				{% for post in site.categories.releasenotes limit:10 %}
				  <hr/>
				  <section id="{{ post.id }}">
				  	<h1>{{ post.title }}<small>&nbsp;&nbsp;{{ post.date | date: "%b %-d, %Y" }}</small></h1>
				    <br/>
				    {{ post.content }}
				  </section>
				{% endfor %}
			
		</div>
  	</div>
</div>