<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<!-- resource service providers for ecore-->
	<extension
	      point="org.eclipse.xtext.extension_resourceServiceProvider">
	    <resourceServiceProvider
	          class="org.eclipse.xtext.ui.ecore.ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
	          uriExtension="ecore">
	    </resourceServiceProvider>
	</extension>
 <extension
       point="org.eclipse.xtext.ui.searchFilter">
    <filter
          class="org.eclipse.xtext.ui.ecore.search.EcoreSearchFilter">
    </filter>
 </extension>
</plugin>
