<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/example/Domainmodel" 
       class = "org.eclipse.xtext.example.domainmodel.domainmodel.DomainmodelPackage"
       genModel = "model/generated/Domainmodel.genmodel" /> 
	
  </extension>

</plugin>
