<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.xtext.ui.proposalsProvider">
      <proposalsProvider
            class="org.eclipse.xtext.reference.ui.services.ReferenceProposalsProvider"
            languageId="org.eclipse.xtext.reference.ReferenceGrammar">
      </proposalsProvider>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.tokenTypeDef">
      <tokenTypeDef
            class="org.eclipse.xtext.reference.ui.services.ReferenceTokenTypeDef"
            languageId="org.eclipse.xtext.reference.ReferenceGrammar">
      </tokenTypeDef>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.formatter">
      <formatter
            class="org.eclipse.xtext.reference.ui.services.ReferenceFormatter"
            languageId="org.eclipse.xtext.reference.ReferenceGrammar">
      </formatter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.xtext.reference.ui.preferences.ReferenceGrammarRootPreferencePage"
            id="org.eclipse.xtext.reference.ReferenceGrammar"
            name="ReferenceGrammar">
      </page>
      <page
            category="org.eclipse.xtext.reference.ReferenceGrammar"
            class="org.eclipse.xtext.reference.ui.preferences.ReferenceGrammarRootPreferencePage"
            id="org.eclipse.xtext.reference.ReferenceGrammar.editor"
            name="Editor">
      </page>
      <page
            category="org.eclipse.xtext.reference.ReferenceGrammar.editor"
            class="org.eclipse.xtext.reference.ui.preferences.SyntaxColoringPreferencePage"
            id="org.eclipse.xtext.reference.ReferenceGrammar.editor.syntaxcoloring"
            name="Syntax Coloring">
      </page>
   </extension>
   
</plugin>
