<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.xtext.ui.core.editor.BaseTextEditor"
            default="true"
            extensions="test, tst"
            icon="icons/editor/titleImage.gif"
            id="org.eclipse.xtext.ui.core.reference.editor2"
            name="Test Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.languageDescriptor">
      <languageDescriptor
            id="org.eclipse.xtext.ui.reference.referenceLanguageDescriptor"
            languageFacade="org.eclipse.xtext.reference.ReferenceGrammarLanguageFacade"
            name="Reference Project">
      </languageDescriptor>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.syntaxColorer">
      <syntaxColorer
            class="org.eclipse.xtext.reference.ui.services.ReferenceSyntaxColorer"
            languageId="org.eclipse.xtext.ui.reference.referenceLanguageDescriptor">
      </syntaxColorer>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.proposalsProvider">
      <proposalsProvider
            class="org.eclipse.xtext.reference.ui.services.ReferenceProposalsProvider"
            languageId="org.eclipse.xtext.ui.reference.referenceLanguageDescriptor">
      </proposalsProvider>
   </extension>

</plugin>
