th {
	border-bottom: 1px gray;
	font-weight: bolder;
}

tbody tr.even {
	background-color: #E6E6E6;
}

#itemisDownloads {
	margin: 10px;
}

#itemisDisclaimer {
	
}

#body {
}

#novaContent {
    background: none !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left-style: none;
    border-left-width: 0px !important;
    margin: 20px;
}