<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.xtext.grammarview.ui"
            name="Xtext">
      </category>
      <view
            category="org.eclipse.xtext.grammarview.ui"
            class="org.eclipse.xtext.graphviewer.ui.GrammarView"
            icon="icons/sample.gif"
            id="org.eclipse.xtext.grammarview.ui.views.GrammarView"
            name="Xtext Grammar View">
      </view>
   </extension>

</plugin>
