<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.xtext.ui.Examples" 
				  name="%XtextExamples_category" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.xtext.project.Examples" 
				  name="%XtextExamples_category2" 
				  parentCategory="org.eclipse.xtext.projectwiz" />
	</extension>

	<!-- ========= org.eclipse.xtext.example.domainmodel ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewDomainModelExampleWizard" 
			name="%DomainExample_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%DomainExample_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewDomainModelExampleWizard" 
			name="%DomainExample_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.xtext.projectwiz/org.eclipse.xtext.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%DomainExample_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.xtext.examples.NewDomainModelExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.domainmodel" contentURI="contents/org.eclipse.xtext.example.domainmodel.zip" description="Parser, Serializer, Linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.domainmodel.tests" contentURI="contents/org.eclipse.xtext.example.domainmodel.tests.zip" description="A test suite for the language."/>
		 <projectDescriptor name="org.eclipse.xtext.example.domainmodel.ui" contentURI="contents/org.eclipse.xtext.example.domainmodel.ui.zip" description="A smart editor for the language."/>
	  </example>
	</extension>   
   
	<!-- ========= org.eclipse.xtext.example.fowlerdsl ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewFowlerDSLExampleWizard" 
			name="%FowlerExample_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%FowlerExample_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewFowlerDSLExampleWizard" 
			name="%FowlerExample_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.xtext.projectwiz/org.eclipse.xtext.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%FowlerExample_description</description>
		</wizard>
	</extension>
   <extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.eclipse.xtext.examples.NewFowlerDSLExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.fowlerdsl" contentURI="contents/org.eclipse.xtext.example.fowlerdsl.zip" description="Contains the parser, serializer, linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.fowlerdsl.ui" contentURI="contents/org.eclipse.xtext.example.fowlerdsl.ui.zip"  description="Contains Eclipse IDE integration (i.e. editor)"/>
	  </example>
   </extension>
   
	<!-- ========= org.eclipse.xtext.example.arithmetics ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewArithmeticsExampleWizard" 
			name="%ArithmeticsExample_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%ArithmeticsExample_description</description>
		</wizard>
	</extension>
    <extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewArithmeticsExampleWizard" 
			name="%ArithmeticsExample_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.xtext.projectwiz/org.eclipse.xtext.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%ArithmeticsExample_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.eclipse.xtext.examples.NewArithmeticsExampleWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.arithmetics" contentURI="contents/org.eclipse.xtext.example.arithmetics.zip" description="Contains the parser, serializer, linker, etc."/>
		 <projectDescriptor name="org.eclipse.xtext.example.arithmetics.tests" contentURI="contents/org.eclipse.xtext.example.arithmetics.tests.zip" description="The test bundle for the language"/>
		 <projectDescriptor name="org.eclipse.xtext.example.arithmetics.ui" contentURI="contents/org.eclipse.xtext.example.arithmetics.ui.zip"  description="Contains Eclipse IDE integration (i.e. editor)"/>
	  </example>
   </extension>
   
   <!-- ========= org.eclipse.xtext.example.xbase.tutorial ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewXbaseTutorial" 
			name="%XbaseTutorial_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%XbaseTutorial_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewXbaseTutorial" 
			name="%XbaseTutorial_name" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.xtext.projectwiz/org.eclipse.xtext.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%XbaseTutorial_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	  <example wizardID="org.eclipse.xtext.examples.NewXbaseTutorial" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.xtext.example.xbase.tutorial" contentURI="contents/xbase.tutorial.zip" description="A hands-on tutorial to learn the Xbase expression language."/>
	  </example>
   </extension>
   
   <!-- ========= org.eclipse.xtext.example.tutorial ========= -->
<!--	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewTutorialExampleWizard" 
			name="%XtextTutorial_name" 
			class="org.eclipse.xtext.xtext.ui.examples.ExternalEditorAwareExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.xtext.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%XtextTutorial_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.xtext.examples.NewTutorialExampleWizard" 
			name="%XtextTutorial_name" 
			class="org.eclipse.xtext.xtext.ui.examples.ExternalEditorAwareExampleInstallerWizard" 
			category="org.eclipse.xtext.projectwiz/org.eclipse.xtext.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>%XtextTutorial_description</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.xtext.examples.NewTutorialExampleWizard" pageImage="icons/genproject.gif">
		 <fileToOpen location="org.eclipse.xtext.example.tutorial/src/org/eclipse/xtext/example/tutorial/Tutorial.xtext"/>
		 <fileToOpen location="org.eclipse.xtext.example.tutorial/Tutorial.pdf"/>
		 <projectDescriptor name="org.eclipse.xtext.example.tutorial" contentURI="contents/org.eclipse.xtext.example.tutorial.zip" description="The tutorial description, a scaffolded grammar and solutions"/>
		 <projectDescriptor name="org.eclipse.xtext.example.tutorial.tests" contentURI="contents/org.eclipse.xtext.example.tutorial.tests.zip" description="A test suite and some utilities to test drive the APIs."/>
		 <projectDescriptor name="org.eclipse.xtext.example.tutorial.ui" contentURI="contents/org.eclipse.xtext.example.tutorial.ui.zip" description="A smart editor for the language."/>
	  </example>
	</extension> -->  
</plugin>
