<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.index.indexer" name="EMF Indexer" schema="schema/org.eclipse.emf.index.indexer.exsd"/>
   <extension-point id="org.eclipse.emf.index.indexChangeListener" name="EMF Index Change Listener" schema="schema/org.eclipse.emf.index.indexChangeListener.exsd"/>
   <extension
         id="emfIndexBuilder"
         name="EMF Index Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.emf.index.ui.GuiceExecutableExtensionFactory">
               <parameter
                     name="actualClass"
                     value="org.eclipse.emf.index.ui.builder.EmfIndexProjectBuilder">
               </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="emfIndexNature"
         name="EMF Index Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.emf.index.ui.builder.EmfIndexNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.emf.index.ui.emfIndexBuilder">
      </builder>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.index.ui.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.emf.index.ui.GuiceExecutableExtensionFactory:org.eclipse.emf.index.ui.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.eclipse.emf.index.ui.addRemoveNatureAction"
               label="Add EMF Index Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
         	<not>
	            <objectState
    	              name="nature"
        	          value="org.eclipse.emf.index.ui.emfIndexNature">
            	</objectState>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.index.ui.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.emf.index.ui.GuiceExecutableExtensionFactory:org.eclipse.emf.index.ui.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.eclipse.emf.index.ui.addRemoveNatureAction"
               label="Remove EMF Index Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <objectState
	              name="nature"
    	          value="org.eclipse.emf.index.ui.emfIndexNature">
        	</objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="emfIndexProblem"
         name="EMF Indexer Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emf.index.ui.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.eclipse.emf.index.ui.commands.category"
            id="org.eclipse.emf.index.ui.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.index.ui.GuiceExecutableExtensionFactory:org.eclipse.emf.index.ui.handlers.FindEClassByNameHandler"
            commandId="org.eclipse.emf.index.ui.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.emf.index.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.emf.index.ui.menus.sampleMenu"
               label="EMF Index"
               mnemonic="M">
            <command
                  commandId="org.eclipse.emf.index.ui.commands.sampleCommand"
                  id="org.eclipse.emf.index.ui.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.emf.index.ui.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.emf.index.ui.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.eclipse.emf.index.ui.toolbars.sampleCommand"
                  tooltip="Add/Remove EMF Index nature">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.emf.index.ui.GuiceExecutableExtensionFactory:org.eclipse.emf.index.ui.builder.IndexStartupInitializer">
      </startup>
   </extension>
   -->
</plugin>
