<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/xtend"
            class="org.eclipse.xtend.core.xtend.XtendPackage"
            genModel="model/Xtend.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/xtend/RichString"
            class="org.eclipse.xtend.core.richstring.ProcessedRichStringPackage"
            genModel="model/RichStrings.genmodel"/>
   </extension>
</plugin>
