<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.xtend.core.Xtend.theme"
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/dark-theme.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>

</plugin>
