<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.xtext.index.actionSet"
            label="Sample Action Set"
            visible="true">
         <action
               class="org.eclipse.xtext.index.actions.QueryEClassAction"
               icon="icons/sample.gif"
               id="org.eclipse.xtext.index.actions.QueryEClassAction"
               label="&amp;Sample Action"
               menubarPath="xtextMenu/xtextGroup"
               toolbarPath="xtextGroup"
               tooltip="Hello, Eclipse world">
         </action>
         <menu
               id="xtextMenu"
               label="&amp;Xtext">
            <separator
                  name="xtextGroup">
            </separator>
         </menu>
      </actionSet>
   </extension>
</plugin>
