.xtext-marker_error {
	position: absolute;
	z-index: 30;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_warning {
	position: absolute;
	z-index: 20;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_info {
	position: absolute;
	z-index: 10;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAANklEQVQI12NkgIIVRx8tZGBg6GZccfRRKAMDgw8DA0M3AwPDIiYGBoZKBgaG7ghruSsMDAwpABH5CoqwzCoTAAAAAElFTkSuQmCC");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_read {
	position: absolute;
	z-index: 5;
	background-color: #ddd;
}

.xtext-marker_write {
	z-index: 5;
	position: absolute;
	background-color: yellow;
}