.CodeMirror {
	height: 100%;
}

.annotations-gutter {
	width: 12px;
	background: #f0f0f0;
}

.xtext-annotation_error {
	width: 12px;
	height: 12px;
	background-image: url('images/error_an.gif');
	background-repeat: no-repeat;
}

.xtext-annotation_warning {
	width: 12px;
	height: 12px;
	background-image: url('images/warning_an.gif');
	background-repeat: no-repeat;
}

.xtext-annotation_info {
	width: 12px;
	height: 12px;
	background-image: url('images/info_an.gif');
	background-repeat: no-repeat;
}

.xtext-marker_error {
	z-index: 30;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_warning {
	z-index: 20;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_info {
	z-index: 10;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAANklEQVQI12NkgIIVRx8tZGBg6GZccfRRKAMDgw8DA0M3AwPDIiYGBoZKBgaG7ghruSsMDAwpABH5CoqwzCoTAAAAAElFTkSuQmCC");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_read {
	background-color: #ddd;
}

.xtext-marker_write {
	background-color: yellow;
}
