<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/xtext/common/JavaVMTypes"
            class="org.eclipse.xtext.common.types.provider.TypesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
    	
 	<extension
	       point="org.eclipse.jdt.ui.queryParticipants">
	    <queryParticipant
	          class="org.eclipse.xtext.common.types.ui.query.QueryParticipant"
	          id="org.eclipse.xtext.common.types.ui.query.QueryParticipant"
	          name="%queryParticipant_name"
	          nature="org.eclipse.jdt.core.javanature">
	    </queryParticipant>
	 </extension>
</plugin>
