/* Styles for the view tooltips */
.textviewTooltip {
	font-family: "Consolas", "Monaco", "Vera Mono", monospace;
	font-size: 12px;
	background-color: #325C80; /* Must match the quickfix command button border color */
	color: #FAFAFA;
	padding: 8px;
	border-radius: 3px;
	z-index: 101;
	position: fixed;
	overflow: hidden;
}

/* Styles for overriding the projection view theme inside tooltips */
/*.tooltipTheme.textview {
	background-color: InfoBackground !important;
	color: InfoText !important;
}*/
.tooltipTheme .textviewScroll {
	padding: 0;
}
.tooltipTheme .annotationLine.currentLine {
	background-color: transparent !important;
}
/* Overrides the normal tooltip for code projections as editor 
 * styled text may not be legible on a dark background
 */
.textviewTooltipCodeProjection {
	border: 1px solid black !important;
	/*background-color: InfoBackground !important;
	color: InfoText !important;*/
	padding: 0 !important;
}

/* Modify the html elements that the markdown renderer creates */
.textviewTooltip a {
	color: #7CC7FF;
}
.textviewTooltip h3 {
	-webkit-margin-before: 0; /* MarkD renderer uses webkit specific tags */
	margin-top: 0;
}
.textviewTooltip p:first-of-type {
	-webkit-margin-before: 0; /* MarkD renderer uses webkit specific tags */
	margin-top: 0;
	-webkit-margin-after: 0; /* MarkD renderer uses webkit specific tags */
	margin-bottom: 0;
}
.textviewTooltip p {
	word-wrap: break-word;
}
.textviewTooltip em {
	font-style: normal;
	font-weight: bold;
}
.textviewTooltip span {
	vertical-align: baseline;
}

/* Classes for displaying annotations in tooltips */
.textviewTooltip .tooltipRow {
	display: table-row;
}
.textviewTooltip .tooltipImage {
	display: inline-block;
	vertical-align: middle;
	padding: 1px;
}
.textviewTooltip .tooltipTitle {
	padding-left: 3px;
	vertical-align: middle;
}
.textviewTooltip .commandButton { /* Styling quickfixes */
	border: 1px solid #325C80;
	background-color: inherit;
	color: white;
}
.textviewTooltip .commandButton:not(.dropdownTrigger){ /* In certain themes command buttons are set to all caps */
  text-transform: initial; 
}

/* Styles for custom behaviour */
.textViewTooltipOnFocus {
	resize: both;
	overflow: auto;
}
.textViewTooltipOnHover {
	overflow: auto;
}



