<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="full.target" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2023-03"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/milestones/S202407051027/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/milestones/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.google.gson" version="2.11.0"/>
			<unit id="com.google.inject" version="7.0.0"/>
			<unit id="jakarta.inject.jakarta.inject-api" version="2.0.1"/>
			<unit id="org.antlr.runtime" version="3.2.0.v20230929-1400"/>
			<unit id="org.junit" version="4.13.2.v20230809-1000"/>
			<unit id="org.hamcrest" version="2.2.0"/>
			<unit id="org.hamcrest.core" version="2.2.0.v20230809-1000"/>
			<unit id="org.apache.commons.logging" version="1.2.0"/>
			<unit id="org.objectweb.asm" version="9.7.0"/>
			<unit id="io.github.classgraph.classgraph" version="4.8.174"/>
			<repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2024-09"/>
		</location>
	</locations>
</target>
