<plugin>
    <extension
         point="org.eclipse.xtend.typesystem.emf.checks">
      
      <metaModel
            nsURI="http://eclipse.org/xtext/reference/ReferenceGrammar">
         <checkFile
               path="org/eclipse/xtext/reference/check/Checks.chk">
         </checkFile>
      </metaModel>
      
   </extension>
    <extension
       point="org.eclipse.xtext.service.ui.serviceRegistrationFactory">
	    <serviceRegistrationFactory
	          class="org.eclipse.xtext.reference.ReferenceGrammarRuntimeConfig"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.xtext.reference.services.ReferenceGrammarResourceFactory"
            type="xtest">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.xtext.reference.services.ReferenceGrammarResourceFactory"
            type="tst">
      </parser>
   </extension>
</plugin>
