<plugin>
	<extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/xtext/reference/ReferenceModel"
            class="ReferenceModel.ReferenceModelPackage">
      </package>
   </extension>
    <extension
         point="org.eclipse.xtend.typesystem.emf.checks">
      
      <metaModel
            nsURI="http://eclipse.org/xtext/reference/ReferenceGrammar">
         <checkFile
               path="org/eclipse/xtext/reference/Checks.chk">
         </checkFile>
      </metaModel>
      
   </extension>

</plugin>
