<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.itemis.de/statefullexer/simpletemplate/SimpleTemplate" 
       class = "de.itemis.statefullexer.simpletemplate.simpleTemplate.SimpleTemplatePackage"
       genModel = "de/itemis/statefullexer/simpletemplate/SimpleTemplate.genmodel" /> 
	
  </extension>




</plugin>
