table.list td {
	border-bottom: 1px dotted 	#D4D4DD; 
}

table.presentations td {
	vertical-align: top;
}

table.presentations td img {
	border: 1px solid #D4D4DD;
	padding: 1px
}

/* indigo */
/*	
#leftcol {
	display: none;
}
*/