<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.10 2010/02/24 12:18:05 sefftinge Exp $
-->

<plugin>
   <extension-point id="participant" name="Xtext Builder Participant" schema="schema/participant.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/xtext/builderstate/1.0"
            class="org.eclipse.xtext.builder.builderState.BuilderStatePackage"
            genModel="model/BuilderState.genmodel"/>
   </extension>
   
</plugin>
