<?xml version="1.0" encoding="ISO-8859-1"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://eclipse.org/xtext/builderStandaloneTestLanguage" 
       class = "org.eclipse.xtext.builder.tests.builderTestLanguage.BuilderTestLanguagePackage"
       genModel = "model/generated/BuilderTestLanguage.genmodel" /> 
	
  </extension>



</plugin>
