<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.xtext.testcollector.contribution1"
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
         <menu
               label="Xtext Tools"
               path="additions"
               id="org.eclipse.xtext.testcollector.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Create Test Suite"
               class="org.eclipse.xtext.testcollector.popup.actions.CreateTestSuiteAction"
               menubarPath="org.eclipse.xtext.testcollector.menu1/group1"
               enablesFor="1"
               id="org.eclipse.xtext.testcollector.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
