pre {
  border: none;
  background: none;
}

code.prettyprint {
  padding: 0px;
  background-color: white;
	border: none;
}
/* 	here starts original */
.com { color: #8e908c; }
.lit { color: #f5871f; }
.pun { color: #4d4d4c; }
.opn { color: #4d4d4c; } 
.clo { color: #4d4d4c; }
.fun { color: #4271ae; }
.str { color: #718c00; } 
.atv { color: #3e999f; }
.kwd { color: #8959a8; font-weight:bold;}
.linenums .tag { color: #c82829; }
.typ { color: #4271ae; }
.atn { color: #f5871f; } 
.dec { color: #f5871f; } 
.var { color: #c82829; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: node;
  border: none;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 0px;
  color: #ddd;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}