<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.eclipse.xtext.sdk.target" sequenceNumber="6">
<locations>

	<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xtend.lib" version="0.0.0"/>
		<unit id="org.eclipse.xtend.lib.source" version="0.0.0"/>
		<unit id="org.eclipse.xtend.lib.macro" version="0.0.0"/>
		<unit id="org.eclipse.xtend.lib.macro.source" version="0.0.0"/>
		<repository location="https://ci.eclipse.org/xtext/job/xtext-lib/job/master/lastStableBuild/artifact/build/p2-repository/"/>
	</location>
	
	<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xtext" version="0.0.0"/>
		<unit id="org.eclipse.xtext.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ide" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ide.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.testing" version="0.0.0"/>
		<unit id="org.eclipse.xtext.testing.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.util" version="0.0.0"/>
		<unit id="org.eclipse.xtext.util.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.generator" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.generator.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ide" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ide.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.wizard" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.wizard.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.testlanguages" version="0.0.0"/>
		<unit id="org.eclipse.xtext.testlanguages.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.testlanguages.ide" version="0.0.0"/>
		<unit id="org.eclipse.xtext.testlanguages.ide.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.tests" version="0.0.0"/>
		<unit id="org.eclipse.xtext.tests.source" version="0.0.0"/>
		<repository location="https://ci.eclipse.org/xtext/job/xtext-core/job/master/lastStableBuild/artifact/build/p2-repository/"/>
	</location>
	
	<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xtext.builder.standalone" version="0.0.0"/>
		<unit id="org.eclipse.xtext.builder.standalone.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ecore" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ecore.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.generator" version="0.0.0"/>
		<unit id="org.eclipse.xtext.generator.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.java" version="0.0.0"/>
		<unit id="org.eclipse.xtext.java.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.purexbase" version="0.0.0"/>
		<unit id="org.eclipse.xtext.purexbase.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.purexbase.ide" version="0.0.0"/>
		<unit id="org.eclipse.xtext.purexbase.ide.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.smap" version="0.0.0"/>
		<unit id="org.eclipse.xtext.smap.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.ide" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.ide.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.testing" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.testing.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.testlanguages" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.testlanguages.source" version="0.0.0"/>
		<repository location="https://ci.eclipse.org/xtext/job/xtext-extras/job/master/lastStableBuild/artifact/build/p2-repository/"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xtext.doc" version="0.0.0"/>
		<unit id="org.eclipse.xtext.activities" version="0.0.0"/>
		<unit id="org.eclipse.xtext.activities.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.builder" version="0.0.0"/>
		<unit id="org.eclipse.xtext.builder.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.edit" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.edit.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.shared" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.shared.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.shared.jdt38" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.shared.jdt38.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.ui" version="0.0.0"/>
		<unit id="org.eclipse.xtext.common.types.ui.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.junit4" version="0.0.0"/>
		<unit id="org.eclipse.xtext.junit4.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.logging" version="0.0.0"/>
		<unit id="org.eclipse.xtext.logging.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.m2e" version="0.0.0"/>
		<unit id="org.eclipse.xtext.m2e.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.purexbase.ui" version="0.0.0"/>
		<unit id="org.eclipse.xtext.purexbase.ui.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codemining" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codemining.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codetemplates" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codetemplates.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codetemplates.ide" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codetemplates.ide.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codetemplates.ui" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.codetemplates.ui.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.ecore" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.ecore.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.shared" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.shared.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.testing" version="0.0.0"/>
		<unit id="org.eclipse.xtext.ui.testing.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.junit" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.junit.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.ui" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.ui.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ui" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ui.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ui.examples" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ui.examples.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ui.graph" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xtext.ui.graph.source" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.ui.testing" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.ui.testing.source" version="0.0.0"/>
		<repository location="https://ci.eclipse.org/xtext/job/xtext-eclipse/job/master/lastStableBuild/artifact/build/p2-repository/"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.xtend.core" version="0.0.0"/>
		<unit id="org.eclipse.xtend.core.source" version="0.0.0"/>
		<unit id="org.eclipse.xtend.doc" version="0.0.0"/>
		<unit id="org.eclipse.xtend.examples" version="0.0.0"/>
		<unit id="org.eclipse.xtend.ide" version="0.0.0"/>
		<unit id="org.eclipse.xtend.ide.source" version="0.0.0"/>
		<unit id="org.eclipse.xtend.ide.common" version="0.0.0"/>
		<unit id="org.eclipse.xtend.ide.common.source" version="0.0.0"/>
		<unit id="org.eclipse.xtend.m2e" version="0.0.0"/>
		<unit id="org.eclipse.xtend.m2e.source" version="0.0.0"/>
		<unit id="org.eclipse.xtend.standalone" version="0.0.0"/>
		<unit id="org.eclipse.xtend.standalone.source" version="0.0.0"/>
		<repository location="https://ci.eclipse.org/xtext/job/xtext-xtend/job/master/lastStableBuild/artifact/build/p2-repository/"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
		<unit id="com.google.guava.source" version="27.1.0.v20190517-1946"/>
		<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
		<unit id="com.google.gson.source" version="2.8.2.v20180104-1110"/>
		<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
		<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
		<unit id="org.junit" version="0.0.0"/>
		<unit id="org.junit.source" version="0.0.0"/>
		<unit id="org.junit.jupiter.api" version="0.0.0"/>
		<unit id="org.junit.jupiter.api.source" version="0.0.0"/>
		<unit id="org.junit.jupiter.engine" version="0.0.0"/>
		<unit id="org.junit.jupiter.engine.source" version="0.0.0"/>
		<unit id="org.junit.platform.commons" version="0.0.0"/>
		<unit id="org.junit.platform.commons.source" version="0.0.0"/>
		<unit id="org.junit.platform.engine" version="0.0.0"/>
		<unit id="org.junit.platform.engine.source" version="0.0.0"/>
		<unit id="org.junit.platform.launcher" version="0.0.0"/>
		<unit id="org.junit.platform.launcher.source" version="0.0.0"/>
		<unit id="org.junit.platform.runner" version="0.0.0"/>
		<unit id="org.junit.platform.runner.source" version="0.0.0"/>
		<unit id="org.opentest4j" version="0.0.0"/>
		<unit id="org.opentest4j.source" version="0.0.0"/>
		<unit id="org.objectweb.asm" version="7.1.0.v20190412-2143"/>
		<unit id="org.objectweb.asm.source" version="7.1.0.v20190412-2143"/>
		<unit id="org.objectweb.asm.tree" version="7.1.0.v20190412-2143"/>
		<unit id="org.objectweb.asm.tree.source" version="7.1.0.v20190412-2143"/>
		<unit id="io.github.classgraph" version="4.8.35.v20190528-1517"/>
		<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/orbit/2019-09"/>
	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
		<unit id="com.google.guava" version="0.0.0"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xpand" version="0.0.0"/>
		<unit id="org.eclipse.xtend" version="0.0.0"/>
		<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
		<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/releases/oxygen/201804111000"/>
	</location>

	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
		<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.11.0"/>
		<unit id="org.eclipse.emf.mwe2.lib" version="0.0.0"/>
	</location>

	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
		<repository location="https://download.eclipse.org/cbi/updates/license/"/>
	</location>
</locations>
</target>
