<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/common/Types" 
       class = "org.eclipse.xtext.common.types.TypesPackage"
       genModel = "org/eclipse/xtext/common/JavaVMTypes.genmodel" /> 
	
  </extension>



</plugin>
