
/*------------------------------------------------------------------

[Shield Page Responsive Stylesheet]
author : hunzaboy
url: http://uexel.com
*/

@media (max-width: 767px) {
	
	/*----------------------------
	[Landing / #landing]
	*/
	
	#landing {
		height: auto;
		margin-left: -20px;
		margin-right: -20px;
	}
	
	#landing .inner {
		padding: 0 20px;
	}
	
	#landing .container {
		padding-top: 15px;
	}
	
	
	/*----------------------------
	[Content]
	*/
		
	#content {
		margin-left: -20px;
		margin-right: -20px;
		
	}
	
	#content .inner {
		padding: 0 20px 20px 20px;
	}
	
	
	/*----------------------------
	[Page]
	*/
        
#page {
		margin-left: -20px;
		margin-right: -20px;
		
	}
	
	#page .inner {
		padding: 0 20px 20px 20px;
	}
	
	#features {
		margin-left: -20px;
		margin-right: -20px;
	}
	
	#features .inner {
		padding-top: 8px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 8px;
	}

		
        #intro{
            
            	margin-left: -20px;
		margin-right: -20px;
        }
	/*----------------------------
	[Footer / #footer]
	*/
	
	#footer {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	#footer .inner {
		padding-right: 20px;
		padding-left: 20px;
	}
	

	
	/*----------------------------
	[Extra / #extra]
	*/
	
	#extra {
		margin-right: -20px;
		margin-left: -20px;
                        padding-left:20px;
        padding-right:20px;
	}
	
        #extra h3{
            
          margin-top:10px;
        }
	
		
	
	/*----------------------------
	[Screenshots / #screenshots]
	*/
	
	#screenshots {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	#screenshots .inner {
		padding-right: 20px;
		padding-left: 20px;
                margin-left:-20px;
                margin-right:-20px;
	}
	
	.screenshot {
		margin-bottom: 1.5em;
	}
	
        .image-slider h2{
            
            margin-top:20px;
        }

}