<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="org.eclipse.xtext.helios.target" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2019-09"/>
			<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
			<repository location="https://download.eclipse.org/cbi/updates/license/"/>
		</location>
	</locations>
</target>
