<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="org.eclipse.xtext.helios.target" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.10.0/"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/luna/201502271000/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/orbit/"/>
			<unit id="org.junit" version="0.0.0"/>
		</location>
	</locations>
</target>
