<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="org.eclipse.xtext.helios.target" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="com.google.guava" version="0.0.0"/>
			<repository location="http://download.eclipse.org/releases/luna/201502271000/"/>
		</location>
	</locations>
</target>
