<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="org.eclipse.xtext.extras.target" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.20.0"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.20"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.11.3/"/>
			<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/oxygen/201804111000"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2020-12"/>
			<unit id="org.junit" version="4.12.0.v201504281640"/>
			<unit id="org.objectweb.asm" version="8.0.1.v20200420-1007"/>
			<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
			<unit id="io.github.classgraph" version="4.8.35.v20190528-1517"/>
		</location>
	</locations>
</target>
