<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
    <extension
         point="org.eclipse.xtend.typesystem.emf.checks">
      
      <metaModel
            nsURI="http://foo">
         <checkFile
               path="org/eclipse/xtext/ui/integration/FooChecks.chk">
         </checkFile>
      </metaModel>
      
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.xtext.ui.integration.services.TestLanguageResourceFactory"
            type="xtext_integration">
      </parser>
   </extension>
   
   
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.xtext.ui.integration.ui.editor.TestLanguageEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="xtext_integration"
            id="org.eclipse.xtext.ui.integration.TestLanguage"
            name="TestLanguage Editor">
      </editor>
   </extension>
 <extension
         point="org.eclipse.ui.preferencePages">
		<page
			class="org.eclipse.xtext.ui.core.util.ServiceInjectingExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.LanguageRootPreferencePage/org.eclipse.xtext.ui.integration.TestLanguage"
			id="org.eclipse.xtext.ui.integration.TestLanguage"
			name="TestLanguage">
			<keywordReference
				id="..ui.keyword_TestLanguage">
			</keywordReference>
		</page>
		<page
		    category="org.eclipse.xtext.ui.integration.TestLanguage"
		    class="org.eclipse.xtext.ui.core.util.ServiceInjectingExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.EditorPreferencePage/org.eclipse.xtext.ui.integration.TestLanguage"
		    id="org.eclipse.xtext.ui.integration.TestLanguage.editor"
		    name="Editor">
		    	<keywordReference 
           			id="org.eclipse.xtext.keyword.editor">
     			</keywordReference>
		</page>
      </extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="..ui.keyword_TestLanguage"
			label="TestLanguage">
		</keyword>
		<keyword
            id="org.eclipse.xtext.ui.integration.TestLanguage.tasktags"
            label="Task Tags">
        </keyword>
	</extension>

</plugin>
