---
layout: default
title: Language Engineering Made Easy!
---
<!--{% include ribbon.html %}-->
<!--Container-->
<div id="header_wrapper">
  <div class="container">
  <div class="flexslider image-slider">
    <div class="span11">
      <br />
      <h2>
        Language Engineering For Everyone!
      </h2>
      <br />
      <br />
      <p>Xtext is a framework for development of programming languages
      and domain specific languages. With Xtext you define your language using a powerful grammar language. As a result you get a full infrastructure,
        including <b>parser</b>, <b>linker</b>, <b>typechecker</b>, <b>compiler</b> as well as editing support for <b>Eclipse</b>, <b>IntelliJ IDEA</b> and your favorite <b>web browser</b>.</p>
        <a href="#"><img src="{{ site.baseurl }}/images/slides/Introduction.png"
          alt="image" id="intro-screenshot"/></a>
        <a href="https://vimeo.com/8260921"
          data-rel="prettyPhoto" title="Introduction" class="zoom zoom_icon"></a>
        <br />
      <!--a href="download.html" class="btn_download pull_right"></a>
      <br /-->
        <p>Check out the latest news :
          {% for post in site.categories.news limit:1 %}
            <a href="{{ site.baseurl }}/news.html">{{ post.title }}</a>
          {% endfor %}</p>
    </div>
    <!--div class="span6">
      <p><strong><a href="releasenotes.html">Check out the latest release</a></strong></p>
    </div-->
  </div>
  </div>
</div>
<div id="intro">
  <div class="container">
    <ul class="newsticker">
        <li>“Easy grammar definition. Great IDE support. Very good tutorials and books.”</li>
        <li>“It is very easy to start developing a language.”</li>
        <li>“Xtext improves with every new release.”</li>
        <li>“High code quality!”</li>
        <li>“Xtext is a very comprehensive tool which enables fast-creation of DSLs.”</li>
        <li>“Overall, I love Xtext, and use it in a variety of contexts.“</li>
    </ul>
  </div>
</div>
<div id="features">
  <div class="container">
    <div class="row">
      <div class="span12">
        <br /> <br />
        <h1>Why Xtext?</h1>
        <br />
      </div>
      <div class="span4">
        <!--div class="thumb">
          <img class="screenshot"
            src="{{ site.baseurl }}/images/features_easy.png" alt="Image" />
        </div-->
        <h4>Easy To Learn</h4>
        <p>
          Xtext is designed to onboard you smoothly. Simple languages are easily done within minutes.
          Yet Xtext is flexible enough to build fully-featured, statically-typed programming languages.
        </p>
      </div>
      <div class="span4">
        <!--div class="thumb">
         <img class="screenshot"
            src="{{ site.baseurl }}/images/features_quality.png" alt="Image" />
        </div-->
        <h4>High Quality</h4>
        <p>The core framework has been in development for eight years and is used throughout the world in many reasearch and industry projects and even commercial products.</p>
      </div>
      <div class="span4">
        <!--div class="thumb">
          <img class="screenshot"
            src="{{ site.baseurl }}/images/features_multi_platforms.png" alt="Image" />
        </div-->
        <h4>Multi Platform</h4>
        <p>
          Whether you are targeting developers or domain experts, you will be able to provide a dedicated smart editor. Syntax coloring, content assist and
          <a href="#platform-comparison">many more features</a> are supported.
        </p>
      </div>
      <div class="span4">
        <!--div class="thumb">
          <img class="screenshot"
            src="{{ site.baseurl }}/images/features_performance.png" alt="Image" />
        </div-->
        <h4>Performance</h4>
        <p>
          We know that tools need to be fast in order to be helpful. That is why we spend considerable effort on optimization in every release.
          You can also fine-tune your language if needed, thanks to Xtext's configurability.
        </p>
      </div>
      <div class="span4">
        <!--div class="thumb">
          <img class="screenshot"
            src="{{ site.baseurl }}/images/features_java.png" alt="Image" />
        </div-->
        <h4>Easy JVM languages</h4>
        <p>You can build languages for any target platform with Xtext.
          If you target the JVM you can reuse Xbase, a statically typed expression language.
          Linking against Java types, code generation and debugging work out of the box.
        </p>
      </div>
      <div class="span4">
        <!--div class="thumb">
          <img class="screenshot"
            src="{{ site.baseurl }}/images/features_continuous_integration.png" alt="Image" />
        </div-->
        <h4>Continuous Integration</h4>
        <p>
          Xtext supports both Gradle and Maven to build your language and use it in downstream projects.
          For Gradle builds, you even get incremental compilation of your language files.
        </p>
      </div>

    </div>
  </div>
</div>

<div id="intro">
   <div class="container">
    <ul class="companies">
      <li><img src="{{ site.baseurl }}/images/logo-google.png" alt="Google"/>
        <img src="{{ site.baseurl }}/images/Siemens-logo.svg" alt="Siemens"/>
        <img src="{{ site.baseurl }}/images/logo_morgan_stanley.svg" alt="Morgan Stanley"/></li>
      <li>
        <img src="{{ site.baseurl }}/images/ESA_logo.svg" alt="ESA"/>
        <img src="{{ site.baseurl }}/images/Bosch-Logo.svg" alt="Bosch"/>
        <img src="{{ site.baseurl }}/images/SAIC_Logo.svg" alt="SAIC"/>
        <img src="{{ site.baseurl }}/images/SAP-Logo.svg" alt="SAP"/></li>
    </ul>
  </div>
</div>

<div id="platform-comparison" class="container">
  <h2>Editor Features By Platform</h2>
  <p>Hover over the cells for more information.</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th><img src="{{ site.baseurl }}/images/logo_intellij_idea.png" style="height : 40px;" alt="IntelliJ IDEA"></th>
        <th><img src="{{ site.baseurl }}/images/logo_eclipse.png" style="height : 40px;" alt="Eclipse"></th>
        <th>Web Browser<img src="{{ site.baseurl }}/images/logo_browsers.png" style="height : 40px;" alt="Web Browsers"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Syntax Coloring</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
      </tr>
      <tr>
        <td>Semantic Coloring</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
      </tr>
      <tr>
        <td>Error Checking</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
      </tr>
      <tr>
        <td>Auto Completion</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
      </tr>
      <tr>
        <td>Formatting</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="partly-supported"></div></td>
      </tr>
      <tr>
        <td>Hover Information</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
      </tr>
      <tr>
        <td>Mark Occurences</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
      </tr>
      <tr>
        <td>Go To Declaration</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
      </tr>
      <tr>
        <td>Rename Refactoring</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Debugging</td>
        <td><div class="partly-supported"></div></td>
        <td><div class="partly-supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Toggle Comments</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Outline / Structure View</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Quick Fix Proposals</td>
        <td><div class="partly-supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Find References</td>
        <td><div class="supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Call Hierarchy</td>
        <td><div class="partly-supported"></div></td>
        <td><div class="partly-supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Type Hierarchy</td>
        <td><div class="partly-supported"></div></td>
        <td><div class="partly-supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
      <tr>
        <td>Folding</td>
        <td><div class="not-supported"></div></td>
        <td><div class="supported"></div></td>
        <td><div class="not-supported"></div></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="span2"></div>
    <div class="span9">
      <div class="supported"> &nbsp; &nbsp; Fully Supported,</div><br/>
      <div class="partly-supported"> &nbsp; &nbsp; Partially Supported</div>
    </div>
  </div>
</div>

<!--div id="features">
  <div class="container">
    <div class="row">
      <div class="span12">
        <br /> <br />
        <h1>Some Supported Features</h1>
        <br />
      </div>
      <div class="span4">
        <div class="thumb">
          <a href="#"><img class="screenshot"
            src="{{ site.baseurl }}/images/feature2_syntax_coloring.png" alt="Image" /></a> <a
            href="https://vimeo.com/12824833" data-rel="prettyPhoto"
            title="Syntax Coloring" class="zoom zoom_icon"></a>
        </div>
        <h4>Syntax Coloring</h4>
        <p>
          Out of the box, the editor supports <b>syntax coloring based
            on the lexical structure</b> and the <b>semantic data</b> of your
          files. Users are free to customize the highlighting and configure
          their favorite styles.
        </p>
      </div>
      <div class="span4">
        <div class="thumb">
          <a href="#"><img class="screenshot"
            src="{{ site.baseurl }}/images/feature2_content_assist.png" alt="Image" /></a> <a
            href="https://vimeo.com/12824786" data-rel="prettyPhoto"
            title="Content Assist" class="zoom zoom_icon"></a>
        </div>
        <h4>Content Assist</h4>
        <p>An Xtext editor proposes valid code completions at any place
          in the document, helping your users with the syntactical details
          of your language.</p>
      </div>
      <div class="span4">
        <div class="thumb">
          <a href="#"><img class="screenshot"
            src="{{ site.baseurl }}/images/feature2_quick_fix.png" alt="Image" /></a> <a
            href="https://vimeo.com/12824853" data-rel="prettyPhoto"
            title="Validation and Quick Fixes" class="zoom zoom_icon"></a>
        </div>
        <h4>Validation and Quick Fixes</h4>
        <p>
          Xtext has outstanding support for static analysis and validation
          of your models. It has never been so easy to define constraints to
          tackle <b>errors and warnings</b> in your code instantaneously.
          With custom <b>quick fixes</b> you can correct these with a single
          keystroke.
        </p>
      </div>
      <div class="span4">
        <div class="thumb">
          <a href="#"><img class="screenshot"
            src="{{ site.baseurl }}/images/feature2_xbase2.png" alt="Image" /></a> <a
            href="https://vimeo.com/26150627" data-rel="prettyPhoto"
            title="Java Integration" class="zoom zoom_icon"></a>
        </div>
        <h4>Advanced Java Integration</h4>
        <p>If your language targets the JVM, you'll love the Java
          support Xtext provides. You get fully statically typed expressions
          right embedded in your DSL and can refer to any Java type.</p>
      </div>
      <div class="span4">
        <div class="thumb">
          <a href="#"><img class="screenshot"
            src="{{ site.baseurl }}/images/feature2_emf_integration.png" alt="Image" /></a> <a
            href="https://vimeo.com/12824804" data-rel="prettyPhoto"
            title="Integration with arbitrary Eclipse tools"
            class="zoom zoom_icon"></a>
        </div>
        <h4>Integration with other Eclipse tools</h4>
        <p>
          Xtext provides a rich API to work with resources. Therefore
          developing additional <b>graphical and structural views</b> is
          comparably easy.
        </p>
      </div>
      <div class="span4">
        <div class="thumb">
          <a href="#"><img class="screenshot"
            src="{{ site.baseurl }}/images/feature2_advanced_workbench.png" alt="Image" /></a> <a
            href="https://vimeo.com/12824746" data-rel="prettyPhoto"
            title="More IDE Features" class="zoom zoom_icon"></a>
        </div>
        <h4>More IDE Features</h4>
        <p>
          Xtext's advanced Eclipse integration goes far beyond the editor. <b>You
            will not feel any difference between your language and Java.</b>
        </p>
      </div>
    </div>
  </div>
</div-->
