<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Xpect Target Definition (Eclipse 3.7 - Indigo)" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.2.M20120208-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.0.v201303201134"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
<environment>
<nl>en_EN</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms128m -Xmx768m -Xss4m -XX:MaxPermSize=256m</vmArgs>
<programArgs>--launcher.XXMaxPermSize 256m</programArgs>
</launcherArgs>
</target>
