<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.xtext.service.ui.serviceRegistrationFactory">
      <serviceRegistrationFactory
            class="org.eclipse.xtext.builtin.XtextBuiltinRuntimeConfig">
      </serviceRegistrationFactory>
      <serviceRegistrationFactory
            class="org.eclipse.xtext.ui.common.XtextBuiltinUiConfiguration">
      </serviceRegistrationFactory>
   </extension>

</plugin>
