<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://example.xtext.org/FowlerDsl" 
       class = "org.eclipse.xtext.example.fowlerdsl.FowlerdslPackage"
       genModel = "org/eclipse/xtext/example/FowlerDsl.genmodel" /> 
	
  </extension>


  <extension
		point="org.eclipse.xtend.typesystem.emf.checks">
		<metaModel
			nsURI="http://example.xtext.org/FowlerDsl">
			<checkFile
				path="org/eclipse/xtext/example/FowlerdslChecks.chk">
			</checkFile>
		</metaModel>
	
	</extension>

</plugin>
