.textViewFind {
	background-color: #ddd;
	position: absolute;
	top: -50px;
	right: -1000px;
	border: 1px solid #aaa;
	border-top: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 2px;
	z-index: 100;
}

.textViewFind.show {
	top: 0;
	right: 40px;
	transition: top 0.3s ease-out;
	-ms-transition: top 0.3s ease-out;
	-moz-transition: top 0.3s ease-out;
	-webkit-transition: top 0.3s ease-out;
	-o-transition: top 0.3s ease-out;
}

.textViewFindButton {
	margin-right: 1px;
	margin-left: 0;
}

.textViewFindButton:first-child {
	margin-left: 5px;
}
.textViewFindButton:last-child {
	margin-right: 5px;
}

.textViewFindButton.checked {
	color: blue;
	text-decoration: underline;
}

.textViewReplaceInput {
}

.textViewFindInput {
}

.textViewFindCloseButton {
	width: 16px;
	height: 16px;
	border-width: 0;
	background-color: transparent;
	vertical-align: baseline;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAJEAAAAAAP///4CAgP///yH5BAEAAAMALAAAAAAQABAAAAIdnI+py+1vhECSyTluu9px+HkctnSdUh0pxLYuVAAAOw==);
}