.textview {
	background-color: white;
	font-family: "Consolas", "Monaco", "Vera Mono", monospace;
	font-size: 12px;
	min-width: 50px;
	min-height: 50px;
}

.textviewSelection {
	background: rgb(180, 213, 255);
}
.textviewContent ::-moz-selection {
	background: rgb(180, 213, 255);
}
.textviewContent ::selection {
	background: rgb(180, 213, 255);
}
.textviewSelectionUnfocused {
	background: lightgray;
}
.textviewSelectionCaret {
	background: black;
}

.textviewScroll {
	padding: 4px 2px 4px 2px;
}

.textviewContent {
  cursor: auto;
}

.textviewLeftRuler {
	border-right: 1px solid #eaeaea;
}

.textviewRightRuler {
	border-left: 1px solid #eaeaea;
}

.textviewInnerRightRuler {
	border-left: 1px solid #eaeaea;
	background-color: white;
}

.textviewMarginRuler {
	border-left: 1px solid #eaeaea;
}

.textviewBlockCursor {
	background: black;
	opacity: 0.4;
}