.comment {
	color: #3C802C;
}

.constant {
	color: blue;
}

.entity {
	color: #3f7f7f;
}

.invalid {
	color: red;
	font-weight: bold;
}

.keyword {
	color: #9F4177;
	font-weight: bold;
}

.storage {
	color: #7F0055;
}

.string {
	color: #446fbd;
}

.support {
	color: #21439c;
}

.variable {
	color: #0000c0;
}

.punctuation.separator.space {
	/* images/white_space.png */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAABVJREFUCNdj3L17938GBgYGJgYoAAAxOAM004kASgAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: center center;
}

.punctuation.separator.tab {
	/* images/white_tab.png */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAAAXNSR0IArs4c6QAAABtJREFUCNdj2L17938GKEBmYwgQJ0m8IAMDAwDemh/hgxuOkwAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: left center;
}

/* styles for deprecated TextMate adapter */

.comment-block-documentation {
	color: #00008F;
}

.constant-character-entity {
	font-style: normal;
}

.entity-name-function, .entity-name-type {
	font-weight: bold;
	color: #67BBB8;
}

.entity-name-tag {
	color: #98937B;
}

.entity-other-attribute-name {
	color: #3C802C;
}

.invalid-illegal {
	color: white;
	background-color: red;
}

.invalid-deprecated {
	text-decoration: line-through;
}

.keyword-operator {
	color: #CC4C07;
	font-weight: bold;
}

.meta.annotation.currentLine {
	background-color: #EAF2FE;
}

.meta.tag {
	color: #3f7f7f;
}

.punctuation-definition-comment {
	color: #3f5fbf;
}

.punctuation-definition-string {
	color: blue;
}

.variable-parameter {
	color: #D1416F;
}

.variable-language {
	color: #7F0055;
	font-weight: bold;
}

/* CodeMirror styles */
.cm-meta { color: #00008F; }
.cm-keyword { font-weight: bold; color: #7F0055; }
.cm-atom { color: #21439c; }
.cm-number { color: black; }
.cm-def { color: green; }
.cm-variable { color: black; }
.cm-variable-2 { color: #004080; }
.cm-variable-3 { color: #004080; }
.cm-property { color: black; }
.cm-operator { color: #222; }
.cm-comment { color: green; }
.cm-string { color: blue; }
/*.cm-string-2 { color: blue; }*/
.cm-error { color: #ff0000; }
.cm-qualifier { color: gray; }
.cm-builtin { color: #7F0055; }
.cm-bracket { color: white; background-color: gray; }
.cm-tag { color: #3f7f7f; }
.cm-attribute { color: #7f007f; }
