<plugin>
    <extension
         point="org.eclipse.xtend.typesystem.emf.checks">
      
      <metaModel
            nsURI="http://eclipse.org/xtext/langA">
         <checkFile
               path="org/eclipse/xtext/crossrefs/check/Checks.chk">
         </checkFile>
      </metaModel>
      
   </extension>
</plugin>
