<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.xtext.keyword.editor"
            label="Editor">
      </keyword>
      <keyword
            id="org.eclipse.xtext.keyword.syntax_coloring"
            label="Syntax">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.xtext.ui.core.service.view.ServiceRegistryView"
            id="org.eclipse.xtext.ui.core.ServiceRegistryView"
            name="Service Registry"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.xtext.ui.core.serviceRegViewContribution"
            targetID="org.eclipse.xtext.ui.core.ServiceRegistryView">
         <menu
               id="org.eclipse.xtext.ui.core.serviceRegistryViewerMenu"
               label="Main Menu">
            <groupMarker
                  name="org.eclipse.xtext.ui.core.mainGroup">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.xtext.ui.core.service.view.LinkWithEditorViewAction"
               icon="icons/elcl16/synced.gif"
               id="org.eclipse.xtext.ui.core.linkWithEditor"
               label="Link with Editor"
               menubarPath="mainGroup"
               state="false"
               style="toggle"
               toolbarPath="mainGroup">
         </action>
         <action
               class="org.eclipse.xtext.ui.core.service.view.ShowAllScopesVieweAction"
               icon="icons/elcl16/all_instances.gif"
               id="org.eclipse.xtext.ui.core.showAllScopes"
               label="Show All Scopes"
               menubarPath="mainGroup"
               style="push"
               toolbarPath="mainGroup">
         </action>
      </viewContribution>
   </extension>
   <!--extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.xtext.ui.editor.DelegatingHyperlinkDetector"
            id="org.eclipse.xtext.ui.hyperlinkDetector"
            name="XtextHypeLink"
            targetId="org.eclipse.xtext.ui.hyperlinkTarget">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            description="Depends on an EditorModel contained in all Xtext editors"
            id="org.eclipse.xtext.ui.hyperlinkTarget"
            name="Xtext Editors">
         <context type="org.eclipse.xtext.ui.editor.model.IEditorModel"/>
      </target>
   </extension-->
   
</plugin>
