<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.xtext.keyword.editor"
            label="Editor">
      </keyword>
      <keyword
            id="org.eclipse.xtext.keyword.syntax_coloring"
            label="Syntax">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.xtext.ui.core.service.view.ServiceRegistryView"
            id="org.eclipse.xtext.ui.core.views.ServiceRegistryView"
            name="%ServiceRegistryView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.xtext.ui.core.views.ServiceRegistryView">
         <command
               commandId="org.eclipse.xtext.ui.core.serviceregistry.linkWithEditor"
               disabledIcon="icons/dlcl16/synced.gif"
               icon="icons/elcl16/synced.gif"
               style="toggle">
         </command>
         <command
               commandId="org.eclipse.xtext.ui.core.serviceregistry.showScopes"
               icon="icons/elcl16/all_instances.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.xtext.ui.core.views.ServiceRegistryView">
         <command
               commandId="org.eclipse.xtext.ui.core.serviceregistry.showFQNames"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.xtext.ui.core.views.registry"
            name="%ServiceRegistryView.category.name">
      </category>
      <command
            categoryId="org.eclipse.xtext.ui.core.views.registry"
            defaultHandler="org.eclipse.xtext.ui.core.service.view.handler.ShowFQNamesHandler"
            id="org.eclipse.xtext.ui.core.serviceregistry.showFQNames"
            name="%ServiceRegistryView.ShowFQNames.name">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="STYLE">
         </state>
      </command>
      <command
            categoryId="org.eclipse.xtext.ui.core.views.registry"
            defaultHandler="org.eclipse.xtext.ui.core.service.view.handler.LinkWithEditorHandler"
            id="org.eclipse.xtext.ui.core.serviceregistry.linkWithEditor"
            name="%ServiceRegistryView.LinkWithEditor.name">
      </command>
      <command
            categoryId="org.eclipse.xtext.ui.core.views.registry"
            defaultHandler="org.eclipse.xtext.ui.core.service.view.handler.ShowAllScopesHandler"
            id="org.eclipse.xtext.ui.core.serviceregistry.showScopes"
            name="%ServiceRegistryView.ShowScopes.name">
      </command>
   </extension>
   <!--extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.xtext.ui.editor.DelegatingHyperlinkDetector"
            id="org.eclipse.xtext.ui.hyperlinkDetector"
            name="XtextHypeLink"
            targetId="org.eclipse.xtext.ui.hyperlinkTarget">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            description="Depends on an EditorModel contained in all Xtext editors"
            id="org.eclipse.xtext.ui.hyperlinkTarget"
            name="Xtext Editors">
         <context type="org.eclipse.xtext.ui.editor.model.IEditorModel"/>
      </target>
   </extension-->
   
</plugin>
