<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="languageBuilder" name="Xtext Builder" schema="schema/LanguageBuilder.exsd"/>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.xtext.keyword.editor"
            label="Editor">
      </keyword>
      <keyword
            id="org.eclipse.xtext.keyword.syntax_coloring"
            label="Syntax">
      </keyword>
   </extension>
   <extension
			point="org.eclipse.ui.preferencePages">
		<page
          class="org.eclipse.xtext.ui.core.editor.preferences.EmptyPreferencePage"
          id="org.eclipse.xtext.languages"
          name="Xtext Languages">
		</page>
	</extension>
  <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.xtext.ui.core.editor.handler.ContentAssistHandler"
            commandId="org.eclipse.ui.edit.text.contentAssist.proposals">
         <activeWhen>
            <reference
                  definitionId="isActiveEditorAnInstanceOfXtextEditor">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isActiveEditorAnInstanceOfXtextEditor">
         <with
               variable="activeEditor">
            <instanceof
                  value="org.eclipse.xtext.ui.core.editor.XtextEditor">
            </instanceof>
         </with>
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="isActiveEditorAnInstanceOfXtextEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.ToggleCommentAction"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="isActiveEditorAnInstanceOfXtextEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.FormatAction"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="isActiveEditorAnInstanceOfXtextEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing Xtext Source Context"
            id="org.eclipse.xtext.ui.core.XtextEditorScope"
            name="Editing Xtext Source"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Format"
            description="Format text"
            categoryId="org.eclipse.xtext.ui.core.category.XtextEditor"
            id="org.eclipse.xtext.ui.FormatAction">
      </command>
      <command
            name="Toggle Comment"
            description="Toggle comment"
            categoryId="org.eclipse.xtext.ui.core.category.XtextEditor"
            id="org.eclipse.xtext.ui.ToggleCommentAction">
      </command>
      <category
            description="Xtext Editing Commands"
            id="org.eclipse.xtext.ui.core.category.XtextEditor"
            name="Source">
      </category>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="org.eclipse.xtext.ui.core.editor.XtextEditorPropertyTester"
      type="org.eclipse.ui.IEditorPart"
      namespace="org.eclipse.xtext.ui.core.editor.XtextEditor"
      properties="languageName"
      class="org.eclipse.xtext.ui.core.editor.XtextEditorPropertyTester">
    </propertyTester>
  </extension>
  <extension
      point="org.eclipse.ui.bindings">
    <key sequence="M1+M2+F"
      contextId="org.eclipse.xtext.ui.core.XtextEditorScope"
      commandId="org.eclipse.xtext.ui.FormatAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="M1+7"
      contextId="org.eclipse.xtext.ui.core.XtextEditorScope"
      commandId="org.eclipse.xtext.ui.ToggleCommentAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="M1+/"
      contextId="org.eclipse.xtext.ui.core.XtextEditorScope"
      commandId="org.eclipse.xtext.ui.ToggleCommentAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="M1+M2+C"
        contextId="org.eclipse.xtext.ui.core.XtextEditorScope"
        commandId="org.eclipse.xtext.ui.ToggleCommentAction"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>
  <extension
         id="check"
         name="Xtext Check"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.emf.ecore.diagnostic"/>
      <persistent value="true"/>
      <attribute
            name="code">
      </attribute>
   </extension>
  <extension
         id="org.eclipse.xtext.ui.core.check.fast"
         name="Xtext Check (fast)"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.xtext.ui.core.check"/>
      <persistent value="true"/>
   </extension>
  <extension
         id="org.eclipse.xtext.ui.core.check.normal"
         name="Xtext Check (normal)"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.xtext.ui.core.check"/>
      <persistent value="true"/>
   </extension>
  <extension
         id="org.eclipse.xtext.ui.core.check.expensive"
         name="Xtext Check (expensive)"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.xtext.ui.core.check"/>
      <persistent value="true"/>
   </extension>
  <extension
        id="xtextBuilder"
        name="Xtext Project Builder"
        point="org.eclipse.core.resources.builders">
     <builder
           hasNature="true">
        <run
              class="org.eclipse.xtext.ui.core.internal.GuiceAwareExtensionFactory">
              <parameter name="guicekey" value="org.eclipse.xtext.ui.core.builder.internal.XtextBuilder"/>
        </run>
     </builder>
  </extension>
  <extension
        id="xtextNature"
        name="Xtext Project Nature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="org.eclipse.xtext.ui.core.builder.internal.XtextNature">
        </run>
     </runtime>
     <builder
           id="org.eclipse.xtext.ui.core.xtextBuilder">
     </builder>
  </extension>
  <extension
        id="xmlProblem"
        name="XML Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>
  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.xtext.ui.core.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.xtext.ui.core.builder.internal.ToggleXtextNatureAction"
               id="org.eclipse.xtend.shared.ui.action.AddXtendXpandNatureAction"
               label="Add Xtext Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               >
         </action>
         <visibility>
         	<not>
	            <objectState
    	              name="nature"
        	          value="org.eclipse.xtext.ui.core.xtextNature">
            	</objectState>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.xtext.ui.core.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.xtext.ui.core.builder.internal.ToggleXtextNatureAction"
               id="org.eclipse.xtend.shared.ui.action.AddXtendXpandNatureAction"
               label="Remove Xtext Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               >
         </action>
         <visibility>
               <objectState
    	              name="nature"
        	          value="org.eclipse.xtext.ui.core.xtextNature">
            	</objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/nature_overlay1.png"
            id="org.eclipse.xtext.ui.core.nature.overlay"
            label="Xtext Nature"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="nature"
                  value="org.eclipse.xtext.ui.core.xtextNature">
            </objectState>
         </enablement>
      </decorator>
   </extension>
   <extension
      point="org.eclipse.ui.editors.annotationTypes">
      <type
      	name="org.eclipse.xtext.ui.core.editor.error"
      	markerType="org.eclipse.emf.ecore.diagnostic"
      	markerSeverity="2"
        super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
      	name="org.eclipse.xtext.ui.core.editor.warning"
      	markerType="org.eclipse.emf.ecore.diagnostic"
      	markerSeverity="1"
        super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.eclipse.xtext.ui.core.editor.model.XtextMarkerAnnotationImageProvider"
            annotationType="org.eclipse.xtext.ui.core.editor.error"
            includeOnPreferencePage="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.eclipse.xtext.ui.core.editor.model.XtextMarkerAnnotationImageProvider"
            annotationType="org.eclipse.xtext.ui.core.editor.warning"
            includeOnPreferencePage="true">
      </specification>
   </extension>
   <!--extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.xtext.ui.editor.DelegatingHyperlinkDetector"
            id="org.eclipse.xtext.ui.hyperlinkDetector"
            name="XtextHypeLink"
            targetId="org.eclipse.xtext.ui.hyperlinkTarget">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            description="Depends on an EditorModel contained in all Xtext editors"
            id="org.eclipse.xtext.ui.hyperlinkTarget"
            name="Xtext Editors">
         <context type="org.eclipse.xtext.ui.editor.model.IEditorModel"/>
      </target>
   </extension-->
</plugin>
