<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.junit.runners.junitRunnerUI">
      <junitRunnerUIHandler
            handlerClass="de.itemis.junit.theories.ui.TheoriesRunnerUIHandler"
            runnerClass="org.junit.experimental.theories.Theories">
      </junitRunnerUIHandler>
   </extension>

</plugin>
