<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 * Copyright (c) 2008 itemis AG (http://www.itemis.eu) and others.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 </copyright>
-->

<plugin>
   <extension-point id="content_resourceServiceProvider" name="Content Handler Resource Service Provider Registration" schema="schema/content_resourceServiceProvider.exsd"/>
   <extension-point id="extension_resourceServiceProvider" name="URI Extenion Resource Service Provider Registration" schema="schema/extension_resourceServiceProvider.exsd"/>
   <extension-point id="protocol_resourceServiceProvider" name="URI Protocol (Scheme) Resource Service Provider Registration" schema="schema/protocol_resourceServiceProvider.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/2008/Xtext" 
       class = "org.eclipse.xtext.XtextPackage"
       genModel = "org/eclipse/xtext/Xtext.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/2008/xtext/parsetree" 
       class = "org.eclipse.xtext.parsetree.ParsetreePackage"
       genModel = "model/parsetree.genmodel" /> 
  </extension>

</plugin>
