<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/05/09 15:57:38 sefftinge Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ecipse.org/tmf/xtext2" 
       class = "org.eclispe.tmf.xtext2.Xtext2Package"
       genModel = "model/xtext2.genmodel" /> 
  </extension>

</plugin>
