<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2008/10/01 13:40:11 jkohnlein Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/2008/Xtext" 
       class = "org.eclipse.xtext.XtextPackage"
       genModel = "model/xtext.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/2008/xtext/parsetree" 
       class = "org.eclipse.xtext.parsetree.ParsetreePackage"
       genModel = "model/parsetree.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/2008/Xtext/Utilities" 
       class = "org.eclipse.xtext.xtextutil.XtextutilPackage"
       genModel = "model/parsetree.genmodel" /> 
  </extension>
  <!--
  <extension
        point="org.eclipse.emf.ecore.extension_parser">
     <parser
           class="org.eclipse.xtext.resource.metamodel.XtextMetamodelResourceFactory"
           type="xtext">
     </parser>
  </extension>
-->
</plugin>
