<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>Xtext Example Server</servlet-name>
        <servlet-class>org.eclipse.xtext.web.example.jetty.MyXtextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Xtext Example Server</servlet-name>
        <url-pattern>/xtext-service/*</url-pattern>
    </servlet-mapping>
</web-app>