---
layout: default
---
<div class="page-content">
  <div class="wrapper">
  	<div id="page">  
			<div class="inner">
				<div id="maincontainer" class="container">
          <span class="edit-on-github pull-right">
            <a href="https://github.com/xtext/xtend-website/edit/gh-pages/{{page.path}}">Edit on Github</a>
          </span>
          <div class="span3">
            {% include documentation-menu.md %}
          </div>
					<div class="span8 doc-contents">
						{{ content }}
					</div>
				</div>
		  </div>
		</div>
  </div>
</div>