---
layout: default
updateSite:
 release: http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/
 milestone: http://download.eclipse.org/modeling/tmf/xtext/updates/composite/milestones/
 bleeding: http://download.eclipse.org/modeling/tmf/xtext/updates/composite/latest/

download:
 osx64: http://www.eclipse.org/downloads/download.php?file=/modeling/tmf/xtext/downloads/distros/eclipse-dsl-mars-R-macosx-cocoa-x86_64.tar.gz&r=1
 win64: http://www.eclipse.org/downloads/download.php?file=/modeling/tmf/xtext/downloads/distros/eclipse-dsl-mars-R-win32-x86_64.zip&r=1
 win32: http://www.eclipse.org/downloads/download.php?file=/modeling/tmf/xtext/downloads/distros/eclipse-dsl-mars-R-win32.zip&r=1
 lin64: http://www.eclipse.org/downloads/download.php?file=/modeling/tmf/xtext/downloads/distros/eclipse-dsl-mars-R-linux-gtk-x86_64.tar.gz&r=1
 lin32: http://www.eclipse.org/downloads/download.php?file=/modeling/tmf/xtext/downloads/distros/eclipse-dsl-mars-R-linux-gtk.tar.gz&r=1
---
<div id="page">
<div class="inner">
<div class="container clearfix">
	<h2>Download Options</h2>
	<p>
	{% for post in site.categories.releasenotes limit:1 %}
		<strong><a href="releasenotes.html#{{ post.id }}">{{ post.title }}</a></strong>
	{% endfor %}
    </p>
	<hr>
	<!--table one starts-->
	<div class="span1">&nbsp;</div>
	<div class="span4">
		<div class="pricing">
			<table>
				<tfoot>
					<tr>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td class="focus">Update Sites <span>Use Update Manager in Eclipse</span></td>
					</tr>
					<tr>
						<td style="text-align: center;">
						<a
						rel="popover"
						data-content="This is an Eclipse update site URL, which you need to paste into the update manager within Eclipse."
						data-original-title="Right-click and 'Copy Link'"
						href="{{page.updateSite.release}}"
						class="has-popover btn btn-primary btn-large"
						style="width: 70%;">Latest Release</a></td>
					</tr>
					<tr>
						<td style="text-align: center;">
						<a
						rel="popover"
						data-content="This is an Eclipse update site URL, which you need to paste into the update manager within Eclipse."
						data-original-title="Right-click and 'Copy Link'"
						href="{{page.updateSite.milestone}}"
						class="has-popover btn btn-primary btn-large"
						style="width: 70%;">Latest Milestone</a></td>
					</tr>
					<tr>
						<td style="text-align: center;">
						<a
						rel="popover"
						data-content="This is an Eclipse update site URL, which you need to paste into the update manager within Eclipse."
						data-original-title="Right-click and 'Copy Link'"
						href="{{page.updateSite.bleeding}}"
						class="has-popover btn btn-primary btn-large"
						style="width: 70%;">Bleeding Edge!</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="span1">&nbsp;</div>
	<div class="span4">
		<div class="pricing">
			<table>
				<tfoot>
					<tr>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td class="focus">Full Eclipse <span>Just Download and Unzip</span></td>
					</tr>
					<tr>
						<td style="text-align: center; white-space: nowrap;">
						<a href="{{page.download.osx64}}"
						class="btn btn-primary btn-large" style="width: 76%;">Mac OS X 64 Bit</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center; white-space: nowrap;">
						<a href="{{page.download.lin64}}"
						class="btn btn-primary btn-large"
						style="width: 45%;">Linux 64 Bit</a>&nbsp;
						<a href="{{page.download.lin32}}"
						class="btn btn-primary btn-large"
						style="width:20%;">32 Bit</a></td>
					</tr>
					<tr>
						<td style="text-align: center; white-space: nowrap;">
						<a href="{{page.download.win64}}"
						class="btn btn-primary btn-large"
						style="width: 45%;">Windows 64 Bit</a>&nbsp;
						<a href="{{page.download.win32}}"
						class="btn btn-primary btn-large"
						style="width:20%;">32 Bit</a></td>
					</tr>
				</tbody>
			</table>
	    </div>
	</div>
    <div class="span1">&nbsp;</div>
</div>
<div class="container clearfix">
	{{content}}
</div>
</div>
</div>
