<?xml version="1.0" encoding="ISO-8859-1"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/2010/xtext/ui/common/types/tests/ContentAssist"
			class = "org.eclipse.xtext.common.types.xtext.ui.contentAssistTestLanguage.ContentAssistTestLanguagePackage"
			genModel = "model/generated/ContentAssistTestLanguage.genmodel" />
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/2011/xtext/ui/common/types/xtext/ui/Refactoring"
			class = "org.eclipse.xtext.common.types.xtext.ui.refactoringTestLanguage.RefactoringTestLanguagePackage"
			genModel = "model/generated/RefactoringTestLanguage.genmodel" />
	</extension>
</plugin>
