<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="languageDescriptor" name="Xtext Language Descriptor" schema="schema/languageDescriptor.exsd"/>
   <extension-point id="syntaxColorer" name="Xtext Syntax Colorer Service" schema="schema/syntaxColorer.exsd"/>
</plugin>
