<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="syntaxColorer" name="Xtext Syntax Colorer Service" schema="schema/syntaxColorer.exsd"/>
   <extension-point id="proposalsProvider" name="Xtext Proposals Provider Service" schema="schema/proposalsProvider.exsd"/>
   <extension-point id="preferenceStore" name="Xtext Preference Store Service" schema="schema/preferenceStore.exsd"/>
   <extension-point id="parser" name="parser" schema="schema/parser.exsd"/>
   <extension-point id="aSTFactory" name="Xtext AST Factory Service" schema="schema/aSTFactory.exsd"/>
   <extension-point id="parseTreeConstructor" name="Xtext Parse Tree Constructor Service" schema="schema/parseTreeConstructor.exsd"/>
   <extension-point id="resourceFactory" name="Xtext Resource Factory Service" schema="schema/resourceFactory.exsd"/>
   <extension-point id="grammarAccess" name="Xtext Grammar Access Service" schema="schema/grammarAccess.exsd"/>
   <extension-point id="metamodelAccess" name="Xtext Metamodel Access Service" schema="schema/metamodelAccess.exsd"/>
   <extension-point id="tokenTypeDef" name="Xtext Token Type Definition Service" schema="schema/tokenTypeDef.exsd"/>
   <extension-point id="valueConverter" name="Xtext Value Converter Service" schema="schema/valueConverter.exsd"/>
   <extension-point id="outlineProvider" name="Xtext Outline Content Provider" schema="schema/outlineProvider.exsd"/>
   <extension-point id="labelProvider" name="Xtext Label Provider" schema="schema/labelProvider.exsd"/>
   <extension-point id="formatter" name="Xtext Formatter" schema="schema/formatter.exsd"/>
   <extension-point id="hoverInfo" name="Xtext Hover Info" schema="schema/hoverInfo.exsd"/>
   <extension-point id="foldingStructureProvider" name="Xtext Folding Structure Provider" schema="schema/foldingStructureProvider.exsd"/>
   <extension-point id="quickFixGenerator" name="Xtext QuickFix Service" schema="schema/quickFixGenerator.exsd"/>
   <extension-point id="hyperlinkCreator" name="Xtext Hyperlink Service" schema="schema/hyperlinkCreator.exsd"/>
   <extension-point id="fragmentProvider" name="Fragment Provider" schema="schema/fragmentProvider.exsd"/>
   <extension-point id="uriChecker" name="URI Checker" schema="schema/uriChecker.exsd"/>
   <extension-point id="linkProvider" name="Link Provider" schema="schema/linkProvider.exsd"/>
   <extension-point id="linker" name="Linker" schema="schema/linker.exsd"/>
   <extension
         id="org.eclipse.xtext.ui.problemmarker"
         name="Xtext Editor Problem Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.emf.ecore.diagnostic"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
		<key sequence="M1+M2+F"
            contextId="org.eclipse.ui.textEditorScope"
            commandId="org.eclipse.xtext.ui.FormatAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
             </extension>
     <extension
         point="org.eclipse.ui.commands">  
             <command
            name="Format"
            description="Format text"
            categoryId="org.eclipse.ui.category.textEditor"
            id="org.eclipse.xtext.ui.FormatAction">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.xtext.keyword.editor"
            label="Editor">
      </keyword>
      <keyword
            id="org.eclipse.xtext.keyword.syntax_coloring"
            label="Syntax">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.xtext.service.ui.scope">
      <serviceScope
            id="org.eclipse.xtext.builtin.XtextBuiltin">
      </serviceScope>
   </extension>
   <extension
         point="org.eclipse.xtext.service.ui.serviceRegistrationFactory">
      <serviceRegistrationFactory
            class="org.eclipse.xtext.ui.service.utils.XtextServiceRegistrationFactory">
      </serviceRegistrationFactory>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.aSTFactory">
      <aSTFactory
            class="org.eclipse.xtext.parser.GenericEcoreElementFactory"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </aSTFactory>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.grammarAccess">
      <grammarAccess
            class="org.eclipse.xtext.builtin.XtextBuiltinGrammarAccess"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </grammarAccess>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.valueConverter">
      <valueConverter
            class="org.eclipse.xtext.builtin.conversion.XtextBuiltInConverters"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </valueConverter>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.quickFixGenerator">
      <quickFixGenerator
            class="org.eclipse.xtext.ui.editor.quickfix.DummyBuiltInQuickFixGenerator"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </quickFixGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.xtext.ui.editor.XtextHyperlinkDetector"
            id="org.eclipse.xtext.ui.hyperlinkDetector"
            name="XtextHypeLink"
            targetId="org.eclipse.xtext.ui.hyperlinkTarget">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            description="Depends on an EditorModel contained in all Xtext editors"
            id="org.eclipse.xtext.ui.hyperlinkTarget"
            name="Xtext Editors">
         <context type="org.eclipse.xtext.ui.editor.model.IEditorModel"/>
      </target>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.linker">
      <linker
            class="org.eclipse.xtext.crossref.internal.Linker"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </linker>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.linkProvider">
      <linkProvider
            class="org.eclipse.xtext.crossref.impl.XtextBuiltinLinkProvider"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </linkProvider>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.uriChecker">
      <uriChecker
            class="org.eclipse.xtext.crossref.impl.DefaultRuntimeURIChecker"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </uriChecker>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.fragmentProvider">
      <fragmentProvider
            class="org.eclipse.xtext.crossref.impl.XtextBuiltinFragmentProvider"
            languageId="org.eclipse.xtext.builtin.XtextBuiltin">
      </fragmentProvider>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentCreation">
      <factory
            class="org.eclipse.xtext.ui.DocumentFactory1">
      </factory>
   </extension>
  
</plugin>
