<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/10/30 08:34:08 sefftinge Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://foo/bar/test"
            class="org.eclipse..test.TestPackage"/>
   </extension>

</plugin>
