<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="mavenTychoJ17.target" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2023-09"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/milestones/S202306200840/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/milestones/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.google.gson" version="2.10.1.v20230109-0753"/>
			<unit id="com.google.inject" version="7.0.0"/>
			<unit id="jakarta.inject.jakarta.inject-api" version="2.0.1"/>
			<unit id="javax.inject" version="1.0.0.v20220405-0441"/>
			<unit id="org.antlr.runtime" version="3.2.0.v20220404-1927"/>
			<unit id="org.junit" version="4.13.2.v20211018-1956"/>
			<unit id="org.apiguardian.api" version="0.0.0"/>
			<unit id="junit-jupiter-api" version="0.0.0"/>
			<unit id="junit-jupiter-engine" version="0.0.0"/>
			<unit id="junit-jupiter-migrationsupport" version="0.0.0"/>
			<unit id="junit-jupiter-params" version="0.0.0"/>
			<unit id="junit-platform-commons" version="0.0.0"/>
			<unit id="junit-platform-engine" version="0.0.0"/>
			<unit id="junit-platform-launcher" version="0.0.0"/>
			<unit id="junit-platform-runner" version="0.0.0"/>
			<unit id="junit-platform-suite-commons" version="0.0.0"/>
			<unit id="junit-vintage-engine" version="0.0.0"/>
			<unit id="org.opentest4j" version="0.0.0"/>
			<unit id="org.objectweb.asm" version="9.5.0"/>
			<unit id="io.github.classgraph" version="4.8.149.v20220915-0556"/>
			<repository location="https://download.eclipse.org/oomph/simrel-orbit/2023-09"/>
		</location>
	</locations>
</target>
