<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.xtext.logging.loggermap">
      <mapentry
            bundleId="org.eclipse.xtext.index"
            loggername="org.eclipse.xtext.index.logger">
      </mapentry>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.xtext.index.actionSet"
            label="Xtext Actions"
            visible="true">
         <menu
               id="xtextMenu"
               label="&amp;Xtext">
            <separator
                  name="xtextGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.xtext.index.ui.actions.ReIndexAction"
               icon="icons/sample.gif"
               id="org.eclipse.xtext.index.ui.actions.ReIndexAction"
               label="&amp;Re-index Models"
               menubarPath="xtextMenu/xtextGroup"
               tooltip="Re-indexes all (meta-)models">
         </action>
      </actionSet>
   </extension>
  

</plugin>
