<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.xtext.logging.loggermap">
      <mapentry
            bundleId="org.eclipse.xtext.index"
            loggername="org.eclipse.xtext.index.logger">
      </mapentry>
   </extension>

</plugin>
