<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="contents/toc.xml"
            primary="true">
      </toc>
   </extension>
  
  <!--
   <extension
         point="org.eclipse.help.index">
      <index
            file="help/index.xml">
      </index>
   </extension>
	-->
</plugin>
