<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.xtext.xbase.ui.XbaseExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="___xbase">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.eclipse.xtext.xbase.ui.XbaseExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="___xbase">
		</resourceServiceProvider>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
		<key
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="F4"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
		</key>
		<key
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+T"
			commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy">
		</key>
		<key
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="CTRL+ALT+H"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy">
		</key>
	</extension>
	<extension point="org.eclipse.search.searchResultViewPages">
		<viewPage
			class="org.eclipse.jdt.internal.ui.search.JavaSearchResultPage"
			icon="icons/searchpage.gif"
			id="org.eclipse.jdt.ui.java_search_result"
			searchResultClass="org.eclipse.xtext.xbase.ui.jvmmodel.findrefs.CompositeSearchResult">
		</viewPage>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
			description="%OpenTypeHierarchyCommand_description"
			categoryId="org.eclipse.ui.category.navigate"
			id="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
			name="%OpenTypeHierarchyCommand_name">
		</command>
		<command
			description="%OpenCallHierarchyCommand_description"
			id="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy"
			categoryId="org.eclipse.ui.category.navigate"
			name="%OpenCallHierarchyCommand_name">
		</command>
		<!-- extract local variable refactoring -->
		<command
			id="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
			name="%ExtractLocalVariableRefactoring_name"
			categoryId="org.eclipse.xtext.ui.category.refactoring"
			description="%ExtractLocalVariableRefactoring_description">
		</command>
		<command
			id="org.eclipse.xtext.xbase.ui.organizeImports"
			categoryId="org.eclipse.jdt.ui.category.source"
			name="Organize Imports">
			description="Organize Imports"
		</command>
		<command
			categoryId="org.eclipse.jdt.ui.category.source"
			id="org.eclipse.xtext.xbase.ui.multiOrganizeImports"
			name="Organize All Imports">
		</command>
		<command
			categoryId="org.eclipse.ui.category.window"
			description="%OpenImplementation_description"
			id="org.eclipse.xtext.xbase.ui.OpenImplementationCommand"
			name="%OpenImplementation_name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+O"
			commandId="org.eclipse.xtext.xbase.ui.organizeImports"/>
		<key
			sequence="M2+M3+L"
			commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.xtext.ui.XtextEditorScope"/>
		<key
			sequence="COMMAND+ALT+L"
			commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			platform="carbon"/>
		<key
			sequence="M2+M3+L"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			platform="carbon"/>
		<key
			sequence="SHIFT+ALT+L"
			commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			platform="win32"/>
		<key
			sequence="M2+M3+L"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			platform="win32"/>
		<key
			sequence="SHIFT+ALT+L"
			commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			platform="gtk"/>
		<key
			sequence="M2+M3+L"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.xtext.ui.XtextEditorScope"
			platform="gtk"/>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.eclipse.xtext.xbase.ui.debug.XbaseBreakpointPropertyTester"
			id="org.eclipse.xtext.xbase.ui.debug.XbaseBreakpointPropertyTester"
			namespace="org.eclipse.xtext.xbase.ui.debug"
			properties="isXbaseBreakPoint"
			type="java.lang.Object">
		</propertyTester>
	</extension>
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			name="Condition"
			class="org.eclipse.xtext.xbase.ui.XbaseExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.debug.ConditionPage"
			id="org.eclipse.xtext.xbase.ui.propertypages.BreakpointCondition">
			<enabledWhen>
				<test
					forcePluginActivation="true"
					property="org.eclipse.xtext.xbase.ui.debug.isXbaseBreakPoint">
				</test>
			</enabledWhen>
		</page>
	</extension>
	<extension
		point="org.eclipse.debug.ui.detailPaneFactories">
		<detailFactories
			class="org.eclipse.xtext.xbase.ui.XbaseExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.debug.XbaseBreakpointDetailPaneFactory"
			id="org.eclipse.xtext.xbase.ui.breakpoint.detailFactories">
			<enablement>
				<with
					variable="selection">
					<count
						value="1">
					</count>
					<iterate>
						<test
							forcePluginActivation="true"
							property="org.eclipse.xtext.xbase.ui.debug.isXbaseBreakPoint">
						</test>
					</iterate>
				</with>
			</enablement>
		</detailFactories>
	</extension>
</plugin>
