<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.xtext.ui.core.languageDescriptor">
      <languageDescriptor
            id="org.eclipse.xtext.ui.core.tests.dummylanguage"
            languageFacade="org.eclipse.xtext.XtextLanguageFacade"
            name="Dummy Language">
      </languageDescriptor>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.core.syntaxColorer">
      <syntaxColorer
            class="org.eclipse.xtext.ui.core.language.SyntaxColorer1"
            languageId="org.eclipse.xtext.ui.core.tests.dummylanguage">
      </syntaxColorer>
   </extension>
</plugin>
