<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.xtext.ui.languageDescriptor">
      <languageDescriptor
            id="org.eclipse.xtext.ui.tests.dummylanguage"
            name="Dummy Language"
            superLanguage="org.eclipse.xtext.reference.ReferenceGrammar">
      </languageDescriptor>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.syntaxColorer">
      <syntaxColorer
            class="org.eclipse.xtext.ui.TestSyntaxColorer"
            languageId="org.eclipse.xtext.ui.tests.dummylanguage">
      </syntaxColorer>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.tokenTypeDef">
      <tokenTypeDef
            class="org.eclipse.xtext.ui.core.tokentype.BuildInTokenTypeDef"
            languageId="org.eclipse.xtext.ui.tests.dummylanguage">
      </tokenTypeDef>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.preferenceStore">
      <preferenceStore
            class="org.eclipse.xtext.ui.core.service.impl.BuildInPreferenceStore"
            languageId="org.eclipse.xtext.ui.tests.dummylanguage">
      </preferenceStore>
   </extension>
</plugin>
