<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.xtext.ui.core.languageDescriptor">
      <languageDescriptor
            id="org.eclipse.xtext.ui.core.tests.dummylanguage"
            name="Dummy Language">
      </languageDescriptor>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.core.syntaxColorer">
      <syntaxColorer
            class="org.eclipse.xtext.ui.core.language.SyntaxColorer1"
            languageId="org.eclipse.xtext.ui.core.tests.dummylanguage">
      </syntaxColorer>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.core.languageDescriptor">
      <languageDescriptor
            id="org.eclipse.xtexte.ui.core.tests.language.ServiceWithoutClass"
            name="Language with a Service without a class">
      </languageDescriptor>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.core.syntaxColorer">
      <syntaxColorer
            class="org.eclipse.xtext.ui.core.tests.SyntaxColorerThisClassDoesNotExist"
            languageId="org.eclipse.xtexte.ui.core.tests.language.ServiceWithoutClass">
      </syntaxColorer>
   </extension>
</plugin>
