.center_content {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	display: none;
}


/*
	header
*/

#xtext_header {
	position: relative;
	margin-top: 0px;
	height: 270px;
	/* background-color: #0a406d; */
}

#xtext_header #header_image {
}

#header_image {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	height: 270px;
	background: url("images/background-top-logo-xtext.png") no-repeat 20px 25px;	
}

@-webkit-keyframes glow {
	0% {
		opacity: 0.4;
	}
	20% {
		opacity: 1;
	}
	35% {
		opacity: 0.6;
	}
	45% {
		opacity: 0.8;
	}
	65% {
		opacity: 0.4;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}

@-moz-keyframes glow {
	0% {
		opacity: 0.4;
	}
	20% {
		opacity: 1;
	}
	35% {
		opacity: 0.6;
	}
	45% {
		opacity: 0.8;
	}
	65% {
		opacity: 0.4;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}


#header_glow {
	position: absolute;
	width: 198px;
	height: 139px;
	left: 397px;
	top: 7px;
	background: url("images/glow_2_0.png") no-repeat;
	
	opacity: 0.4;
	filter: alpha(opacity=40);
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	
	-webkit-animation-name: glow;
	-webkit-animation-duration: 20s;
	-moz-animation-name: glow;
	-moz-animation-duration: 20s;
}

#header_glow:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
}		

#header_image #header_quote {
	position: absolute;
	left:25px;
	top: 145px;	
}

#header_buttons {
	position: relative;
	left: 666px;
	top: 23px;
	width: 221px;
	padding: 0;
}

#header_buttons ul li {
	list-style: none;
	padding: 0;
	margin-left: 0;
}
#header_buttons ul li a {
	width: 221px;
	height: 59px;
	display: block;
	background: no-repeat center;
}

#header_buttons ul li a span {
	display: block;
	text-align: center;
	color: white;
	font-size: 22px;
	font-weight: bold;
	line-height: 59px;
	width: 221px;
	height: 59px;
}

#header_buttons ul li a:hover {
	text-decoration: none;
}

#header_buttons #headerbutton_install {
	background-image: url("images/headerbutton_install.png");
	margin-bottom: 10px;
}
	
#header_buttons #headerbutton_documentation {
	background-image: url("images/headerbutton_documentation.png");
}

#header_popover {
	display: none;
	position: absolute;
	width: 673px;
	height: 249px;
	top: 12px;
	left: -15px;
	background: url("images/popover_background.png") no-repeat center;
}

/*
	Menu
*/

#xtext_menu {
	position: relative;
	clear: both;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#xtext_menu ul {
	list-style-type: none;
	padding: 0px;
}

#xtext_menu ul li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	/* border: 1px solid black; */
}

#xtext_menu ul li a {
	height: 90px;
	width: 161px;
	display: block;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -4000px;
}

#xtext_menu ul li a.selected,
#xtext_menu ul li a:hover
{
	opacity: 1;
	filter: alpha(opacity=100);
}

#menu_overview a {
	background: url("images/menu_overview.png");
}
	
#menu_features a {
	background: url("images/menu_features.png");
}

#menu_xbase a {
	background: url("images/menu_xbase.png");
}

#menu_xtend2 a {
	background: url("images/menu_xtend2.png");
}

#menu_integration a {
	background: url("images/menu_integration.png");
}

#menu_support a {
	background: url("images/menu_support.png");
}

#menu_indicator {
	position: absolute;
	width: 20px;
	height: 12px;
	top: 78px; /* 90-12 */
	left: 74px; /* 161*0+(161-12)/2 */
	background: url("images/menu_indicator.png") no-repeat center bottom;
}

/*
	slider
*/

/* TODO: real sliding */

.panel p {
	margin-top: 10px;
}

/* feature slider */

.feature_right,
.feature_left {
	clear: both;
	padding-top: 20px;
}

.feature_left div { 
	float:right;
	width:700px;
}

.feature_right a {
	float: right;
}

.feature_right div { 
	float:left;
	width:700px;
}


/* sections */

.section_splitter {
	/*
	background: #00416a;
	*/
	background: #00314f;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.section_splitter * {
    color: white;
}

.section_content {
	background: url("images/gray_background.jpg") repeat-x;
	padding-top: 1.2em;
	padding-bottom: 1em;
}

.section_splitter a {
	color: white;
}

#mainvideo img {
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 0.5s;
 	-moz-transition: opacity 0.5;
}

#mainvideo:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
 	-webkit-transition: opacity 0.2s;
 	-moz-transition: opacity 0.2;
}

#mainvideo .overlay {
    background: url("images/videoOverlay.png") no-repeat center;
    position:absolute;
    width:100%;    
    opacity: 0.1;
    filter: alpha(opacity=10);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}

#mainvideo .overlay:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
} 

/* section 1 */



#stats,
#section_twitter,
#section_marketplace {
	display: block;
	width: 250px;
	height: 130px;
	float: left;
	margin: 0 30px;
}

#section_twitter {
	background: url("images/sectionbutton_twitter.png") no-repeat center;
	text-indent: -4000px;
} 

#section_marketplace {
	background: url("images/sectionbutton_marketplace.png") no-repeat center;
	text-indent: -4000px;
}


/* content headlines */

.headlines .feed {
	display:block;
	float: right;
	height: 14px;
	width: 14px;
	font-size: 0;
	text-indent: -4000px;
	background: url("images/feed.png");
}

/* footer */
#xtext_footer {
	padding-bottom: 0;
	margin-bottom: 0;

}

#xtext_footer *{
	font-size: 12px;
	line-height: 14px;	
	font-weight: normal;
}

#xtext_footer ul {
	list-style-type: none;
	padding: 0px;
}

#xtext_footer ul li {
	float: left;
	list-style: none;
	margin: 0 2em 0 0;
	padding: 0;
}

#xtext_footer #_copyright {
	display: block;
	float:right;
}

#xtext_footer #_inspiration {
    margin-top: 1em;
	display: block;
	float:right;
}


/* general */

.section_content
{
	text-shadow: white 0px 1px 1px;
}

h2 {
    border-bottom: none;
	margin-bottom: 6px;
	font-size: 30px;
	font-weight: 300;
	height: 31px;
	line-height: 7px;
	color: #434650;
}

h3 {
	color: #333344;
	font-weight: normal;
	font-size: 18px;
	border: none;
	margin-bottom: 10px;
}

hr {
    border: none;
	border-bottom-color: rgba(0, 0, 0, 0.0585938);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#novaContent li {
	font-weight: 50px;
	margin-left: 20px;
	list-style-image: url('images/bullet.png');
}

#novaContent .nobullets li {
	list-style: none;
	margin-left: 0;	
	padding-right: 0;
}

.clear {
	clear: both;
}

a {
	color: #00314f;
}

.inversealphahover {
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 0.5s;
 	-moz-transition: opacity 0.5;
}

.inversealphahover:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
 	-webkit-transition: opacity 0.2s;
 	-moz-transition: opacity 0.2;
}


.alphahover {
	opacity: 0.6;
	filter: alpha(opacity=60);
 	-webkit-transition: opacity 0.5s;
 	-moz-transition: opacity 0.5s;
}

.alphahover2 {
	opacity: 0.8;
	filter: alpha(opacity=80);
 	-webkit-transition: opacity 0.5s;
 	-moz-transition: opacity 0.5s;
}


.alphahover:hover,
.alphahover2:hover,
.alphaflash {
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 0.2s;
 	-moz-transition: opacity 0.2s;
}

.left2content {
	float:left;
	margin-right: 20px;
	width: 45%;
}

.right2content {
	float: right;
	margin-left: 20px;
	width: 45%;
}

.left1_3content {
	float: left;
	margin-right: 20px;
	width: 30%;
}

.right2_3content {
	float: right;
	margin-left: 20px;
	width: 60%;
}

.left2_3content {
	float: left;
	margin-right: 20px;
	width: 60%;
}

.right1_3content {
	float: right;
	margin-left: 20px;
	width: 30%;
}

.left3content {
	float: left;
	margin-right: 20px;
	width: 30%;
}

.mid3content {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	width: 30%;
}

.right3content {
	float: right;
	margin-left: 20px;
	width: 30%;
}

.style1of4content {
	float: left;
	margin-right: 20px;
	width: 22%;
}
.style2of4content {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	width: 22%;
}
.style3of4content {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	width: 22%;
}
.style4of4content {
	float: right;
	margin-left: 20px;
	width: 22%;
}

img.new_feature {
    float: none;
    padding-left: 0.3em;
    vertical-align: -4px;
}


/*
	Adjust Nova-Theme
*/ 

body {
	/* background: url("images/gray_background.jpg") repeat-x; */
	background: url("images/background_top.png") top repeat-x;
	background-color: #dcdfe4;
	margin: 0;
	padding: 0;
}

#novaWrapper {
	background: url("images/background-top-stripes.png") top center no-repeat;
	width: 100%;
	
}

#clearHeader {
	/* background-color: #0a406d; */
	background: none;
	width: 980px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	display: none;
}
	
#novaContent {
	background: none;
	border: none;
	padding-top: 0;
	width: 100%;
}	

#clearFooter {
	background: none;
	height: 0;
	margin-top: 30px;
}

#footer {
	display: none;
}

#clearFooter {
	display: none;
}

b {
	font-weight: 800;	
	font-style: italic;
}
div, span, p, blockquote, pre, code, em, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	font-weight: 50;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: #444444;
}
