#novaContent {
/* 	padding-top: 210px; */
    background: none !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    border-width: 0px !important;
}

#midcolumn {
	width: 640px;
	padding: 0 10px 10px 10px;
}

#rightcolumn {
	width: 260px;
}


h3 {
	clear: both;
}

h7 {
	font-weight: bold;
	padding: 5px;
}

a strong {
	text-decoration: underline;
}

/* indigo */
body {
	background: url("images/subpage_header_top.png") top repeat-x;
	height: auto !important;
	background-color: #ecedf1 !important;
}

#header {
	background-image: none;
}

#header #menu ul li a {
	color: white;
	font-size: 15px;
}

#header #search {
	top: 6px;
}

#novaWrapper #clearFooter {
	background-color: #00416a;
}

#novaWrapper #footer {
	background: none;	
}

#novaWrapper #footer a {
	font-weight: normal;
}

#novaWrapper #copyright {
	color: white;
	font-weight: normal;
}

a {
	color: #00314f;
}


div, span, p, blockquote, pre, code, em, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	font-weight: 50;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: #444444;
}
