<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Xtext Domainmodel Example - Eclipse Photon" sequenceNumber="1526501985">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2021-09"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.12.1/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/nightly"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.objectweb.asm" version="9.1.0.v20210209-1849"/>
      <unit id="org.objectweb.asm.tree" version="9.1.0.v20210209-1849"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
      <unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
      <unit id="com.google.guava" version="30.1.0.v20210127-2300"/>
      <unit id="io.github.classgraph" version="4.8.35.v20190528-1517"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/2021-09"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
      <repository location="https://download.eclipse.org/tools/gef/updates/legacy/releases"/>
    </location>
  </locations>
</target>
