<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="domainmodel" sequenceNumber="1">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.apache.commons.jxpath" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2024-09"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/milestones/S202407051027/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/nightly"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <!--
        Just mention the p2 repo so that additional requirements with ranges specified in
        features and bundles are taken from Orbit (e.g., objectweb.asm)
      -->
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2024-09"/>
    </location>
  </locations>
</target>
