<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- F3 / Hyperlinking stuff -->
	<extension
		point="org.eclipse.ui.bindings">
		<key
			contextId="org.eclipse.xtext.ui.core.XtextEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="F3"
			commandId="org.eclipse.xtext.ui.common.editor.hyperlinking.OpenDeclaration">
		</key>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.eclipse.xtext.ui.common.editor.hyperlinking.OpenDeclaration"
			name="Open Declaration"
			description="Opens the declaration for the currently selected cross reference">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.common.editor.hyperlinking.OpenDeclaration">
				<visibleWhen checkEnabled="false">
					<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>	
</plugin>
