<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="deploy:deploy-file"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value=""/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="file=output/org.eclipse.xtend.standalone-2.4.1.jar"/>
<listEntry value="repositoryId=sonatype-nexus-staging"/>
<listEntry value="url=https://oss.sonatype.org/service/local/staging/deploy/maven2"/>
<listEntry value="pomFile=output/org.eclipse.xtend.standalone-2.4.1.pom"/>
<listEntry value="sources=output/org.eclipse.xtend.standalone-2.4.1-sources.jar"/>
<listEntry value="javadoc=output/org.eclipse.xtend.standalone-2.4.1-javadoc.jar"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<intAttribute key="M2_THREADS" value="0"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="bad_container_name" value="/org.eclipse.xtend.standalone.maven-deploy"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/dhuebner/git/org.eclipse.xtext/plugins/org.eclipse.xtend.standalone.maven"/>
</launchConfiguration>
