<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.xtext.ui.shared.sharedStateContributingModule">
      <module
            class="org.eclipse.xtext.buildship.IgnoreBuildDirModule">
      </module>
   </extension>
  <extension
        id="org.eclipse.xtext.buildship"
        point="org.eclipse.buildship.core.projectconfigurators">
     <configurator
           class="org.eclipse.xtext.buildship.IgnoreBuildDirExecutableExtensionFactory:org.eclipse.xtext.buildship.IgnoreBuildDirContribution"
           id="org.eclipse.xtext.buildship.ignoreBuildDirContribution">
     </configurator>
  </extension>
</plugin>
