<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2008/06/20 12:47:15 jkohnlein Exp $
-->

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "htpp://www.eclipse.org/xtext/2008/xtextgen" 
       class = "org.eclipse.xtext.xtextgen.XtextgenPackage"
       genModel = "model/xtextgen.genmodel" /> 
  </extension>
</plugin>
