<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2008/07/01 09:07:04 jkohnlein Exp $
-->

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "htpp://www.eclipse.org/xtext/2008/xtextgen" 
       class = "org.eclipse.xtext.xtextgen.XtextgenPackage"
       genModel = "model/xtextgen.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.emf.ecore.dynamic_package">
     <resource
           uri="org.eclipse.xtext.generator.resource1">
     </resource>
  </extension>
</plugin>
