body {
	font: 16px Helvetica,sans-serif;
}

iframe {
	width: 100%;
	height: 100%;
	border: 1px solid #aaa;
	background-color: #f0f0f0;
}

a {
	color: #22a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #555;
	font-style: italic;
}

h2 {
	color: #555;
	padding-left: 15px;
	border-bottom: 1px solid #aab;
}

h3 {
	font-size: 16px;
}

.text-container {
	width: 800px;
	margin: 40px;
}

.container {
	display: block;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
	width: 640px;
	margin: 20px;
}

.container-left {
	display: block;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
	width: 450px;
	margin: 20px;
}

.container-right {
	display: block;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 480px;
	width: 450px;
	margin: 20px;
}

.xtext-editor {
	display: block;
	position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
	padding: 4px;
	border: 1px solid #aaa;
}

#xtext-editor {
	display: block;
	position: absolute;
	top: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	border: 1px solid #aaa;
}

.status-wrapper {
	display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	height: 20px;
	margin-top: 10px;
}

.button-wrapper {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 640px;
	margin: 20px;
}

#generator-result {
	display: block;
	position: absolute;
    top: 20px;
    bottom: 50px;
    left: 680px;
	right: 20px;
}

#dirty-indicator {
	display: inline;
	color: #e8e8e8;
	padding: 1px 8px 1px 8px;
	border: 1px solid #ccc;
	margin-left: 10px;
}

#dirty-indicator.dirty {
	background-color: #88e;
}

#status {
	display: inline;
}

.output-icon {
	background-image: url("images/output.gif");
	background-repeat: no-repeat;
}

.InputSignal {
	font-style: italic;
	color: #2222ff
}

.OutputSignal {
	font-style: italic;
	color: #11aa11
}
